/*Start - Change Phone Number Labels*/
div.contact-form.redesign {
    /*Phone Number Selector*/
    div.info-zone_contact.type_user:nth-child(1) {
        div.info-zone_contact_cell {
            p.contact_title {
                font-size: 0px;
                
                &:before {
                    font-size: 14px;
                    content: 'Phone Number';
                }
            }
        }
    }
    
    /*Office Number Selector*/
    div.info-zone_contact.type_user:nth-child(2) {
        div.info-zone_contact_cell:first-child {
            p.contact_title {
                font-size: 0px;
                
                &:before {
                    font-size: 14px;
                    content: 'Office Number';
                }
            }
        }
    }
}

/*End*/

/*Start - Hide Address Label*/
div.contact-form.redesign {
    div.info-zone div.info-zone_contact:not(.type_user) {
        .info-wrap-contact_title {
            display: none;
        }
    }
}

/*End*/

/* Start - Remove bold weight in the contact overlay disclaimer */
#modal-global-contact-us {
    .lp-disclaimer {
        .lp-tcr-message {
            font-weight: normal;
        }
    }
}

/* End */

/* Start - Arrange the Contact Overlay arrangement for the 3rd phone number */
#modal-global-contact-us {
    .info-zone {
        display: flex;
        flex-direction: column;
        
        .info-zone_contact {
            margin-bottom: 0px !important;
        }

        .info-zone_contact:nth-child(1) {
            order: 1;
        }

        .info-zone_contact:nth-child(2) {
            order: 3;
            
            .info-zone_contact_cell:nth-child(1) {
                .contact_title {
                    &:before {
                        content: 'OFFICE NUMBER 2';
                    }
                }
            }
        }

        .info-zone_contact:nth-child(3) {
            order: 4;
        }

        .info-zone_contact:nth-child(4) {
            order: 2;
            position: relative;
            
            .info-zone_contact_cell {
                position: unset;
                
                .contact_title {
                    &:before {
                        content: 'OFFICE NUMBER 1';
                    }
                }
                
                i {
                    @media only screen and (min-width: 768px) {
                        position: absolute;
                    }
                }
            }
        }
        
        .lp-socials {
            order: 5;
        }
    }
}

/* End */