/*START - custom intro - make title in one line */
.container {
    max-width: 1400px !important;
    
    @media (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    @media (max-width: 768px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

/*END*/