/* Start - Update Phone Number Text (1st Row) */
footer#global-footer div.info-wrap-contact_zone.type_user > div:nth-child(3) > p {
    font-size: 0px;
    
    &:before {
        content: 'Add Your Text Here...';
        font-size: 14px;
    }
}

/* End */

/* Start - Add a custom footer row */
footer#global-footer .info-wrap-contact > div:nth-child(2) > .info-wrap-contact_cell {
    padding-left: 0px;
    width: 100%;
    
    & > i {
        display: none;
    }
    
    & > .info-wrap-contact_title {
        display: none;
    }
    
    .info-wrap-contact_zone {
        width: 100%;
        
        img {
            position: absolute;
            left: 0px;
            display: block;
        }
    }
}

/* End */

/* Start - Reverse custom row order in mobile */
footer#global-footer .info-wrap-contact > div:nth-child(2) > .info-wrap-contact_cell {
    .info-wrap-contact_zone {
        @media only screen and (max-width: 768px) {
            flex-direction: column-reverse;
            
            & > div:first-child {
                margin-bottom: 0px;
            }
            
            & > div:last-child {
                margin-bottom: 20px;
            }
        }
    }
}

/* End */

h1 {
    @media screen and (max-width: 768px) {
        font-size: 36px;
    }
}

h2 {
    @media screen and (max-width: 768px) {
        font-size: 34px;
    }
}

/*
<div class="info-wrap-contact_zone type_user">
    <div class="info-wrap-contact_cell"><img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/agqxng7jvkthgikqcjpf/frame" alt="" />
    <p class="contact_title">Address</p>
    1608 S LINDBERGH BLVD<br />ST. LOUIS, MO 63131
</div>
<div class="info-wrap-contact_cell"><img src="https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/uwc4hdr9xvvadkzvaldx/frame-1" alt="" />
    <p class="contact_title">Phone Number</p>
    <a class="lp-link info-wrap-contact_link grey-text hyperlink-style-1" href="tel:(435) 979-7734">(435) 979-7734</a></div>
</div>
*/

/* Start - Resize footer logo */
footer#global-footer {
    .images_box {
        .img_size {
            height: 104px;
        }
    }
}

/* End */

/*make align the phone number in right side*/
footer#global-footer .info-wrap-contact_zone {
    &:nth-child(2) {
        justify-content: flex-end;
    }

    &:nth-child(3) {
        margin-top: -70px;
    }

    @media only screen and (max-width: 768px) {
        &:nth-child(3) {
            margin-top: 0;
        }
    }
}

/*end*/

/*START Change Phone Number Footer with Office number*/
#global-footer .type_user {
    .info-wrap-contact_cell:nth-child(3):last-child .contact_title {
        font-size: 0px;

        @media (max-width: 768px) {
            width: 140px;
        }

        &::before {
            font-size: 14px;
            content: "Phone Number" !important;
            height: auto;
            background: 0;
            width: 100%;
            padding-bottom: 1px;
            bottom: -3px;
        }

        &::after {
            bottom: -3px;
        }
    }

    .info-wrap-contact_cell:nth-child(1):first-child .contact_title {
        font-size: 0px;

        @media (max-width: 768px) {
            width: 140px;
        }

        &::before {
            font-size: 14px;
            content: "Office Number" !important;
            height: auto;
            background: 0;
            width: 100%;
            padding-bottom: 1px;
            bottom: -3px;
        }

        &::after {
            bottom: -3px;
        }
    }
}

/*END*/

/*Start - Change footer logo on mobile version (For two logo on footer)*/
.text_footer {
    .images_box {
        @media only screen and (max-width: 768px) {
            margin-left: 0px !important;
            margin-right: 0px !important;
            height: 70px;
            width: 100% !important;
            max-width: 100% !important;
            background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/t8ytf3i10ul0m70ihxit/footer-logo-rr2-2');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .img_size {
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

/*End*/

/*Start - Update the phone information into whatsapp*/
#global-footer>div>div>div.info-wrap>div>div.info-wrap-contact_zone.type_user>div:nth-child(3) {

    i {
        &>svg {
            display: none;
        }

        &:after {
            content: '';
            display: block;
            font-size: 12px;
            background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/rocfssvvqqmzivso3ucj/whatsapp-dark-1');
            height: 30px;
            aspect-ratio: 1/1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    p {
        font-size: 0px !important;

        &:before {
            content: 'Whatsapp';
            font-size: 14px;
        }
    }
}

/*End*/

/*Start - CSS for whatsapp number*/
#global-footer>div>div>div.info-wrap>div>div:nth-child(2)>div.info-wrap-contact_cell {
    width: 100%;

    div {
        position: absolute;
        top: 0px;
        right: 0px;

        img {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0px;
        }

        @media only screen and (max-width: 768px) {
            position: relative;
            margin-top: 21px;
            margin-left: -50px;
        }
    }
}

/*End*/

footer#global-footer {
    .info-wrap-contact_cell:has(form) {
        .input-component {
            border-color: rgba(0, 0, 0, 0.1);

            &:focus {
                border-color: rgba(0, 0, 0, 0.75);
            }
        }
        
        .lp-disclaimer {
            a {
                position: relative !important;
                color: #000 !important;
                transition: 0.4s;
                font-weight: 400;
                text-decoration: none !important;

                &:hover {
                    color: #012169 !important;
                }

                &:before,
                &:after {
                    transition: 0.4s;
                    text-decoration: none !important;
                    line-height: 1;
                    content: "" "";
                    height: 1px;
                    position: absolute !important;
                    bottom: 0;
                    left: 0;
                }

                &:before {
                    width: 100% !important;
                    background-color: rgba(0, 0, 0, 0.25) !important;
                }

                &:after {
                    width: 0% !important;
                    background-color: #012169 !important;
                }

                &:hover:after {
                    width: 100% !important;
                }

                @media only screen and (max-width: 768px) {
                    text-decoration: underline;

                    &:before,
                    &:after {
                        display: none;
                    }

                    &:hover {
                        color: #012169;
                    }
                }
            }
        }
    }
}