/* Start - Fix footer dimensions */
footer#global-footer {
    .footer {
        .contact-information {
            padding-top: 96px;
            padding-bottom: 32px;

            .contact-row {
                &>div {
                    p:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .middle-row {
            padding-top: 32px;
            padding-bottom: 32px !important;

            .disclaimer {
                margin-bottom: 0px;
            }
        }
    }

    .contact-row {
        & > div {
            width: calc(50% - 100px);
        }
        
        /* Insert if needed to reverse ordering on mobile */
        @media only screen and (max-width: 768px) {
            & > div {
                width: 100%;
                
                &:nth-child(1) {
                    order: 2;
                }
                
                &:nth-child(2) {
                    order: 1;
                }
            }
        }
    }
    
    .fnav {
        gap: 32px;
    }
    
    .copyright-container {
        flex: 1;
        width: 100%;
        
        .by {
            flex: 1;
        }
        
        .copy {
            opacity: 1;
        }
    }
}

/* End */

/* Start - Fix contact info title color */
footer#global-footer {
    .contact-row {
        .contact-title {
            opacity: 1;
        }
    }
}

/* End */

/* Start - Fix footer underline links */
footer#global-footer {
    .fnav a,
    .contact-row a,
    .copyright-container a.lp-link {
        position: relative !important;
        color: #fff !important;
        transition: 0.4s;
        font-weight: 400;

        &:hover {
            color: #fff !important;
        }

        &:before,
        &:after {
            transition: 0.4s;
            text-decoration: none !important;
            line-height: 1;
            content: "" "";
            height: 1px;
            position: absolute !important;
            bottom: 0;
            left: 0;
        }

        &:before {
            width: 100% !important;
            background-color: rgba(255, 255, 255, 0.25) !important;
        }

        &:after {
            width: 0% !important;
            background-color: #fff !important;
        }

        &:hover:after {
            width: 100% !important;
        }

        @media only screen and (max-width: 768px) {
            text-decoration: underline;

            &:before,
            &:after {
                display: none;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}

/* End */

/* Start - Add Realtor and Equal Housing Logo */
footer#global-footer {
    .disclaimer {
        &:after {
            display: block;
            content: '';
            background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/hb2xgjkvfhzchszjtpzp/disclaimer-highres');
            background-size: contain;
            background-repeat: no-repeat;
            height: 46px;
            width: 100px;
            filter: invert(1);
            margin-top: 16px;
        }
    }

    @media only screen and (max-width: 768px) {
        .disclaimer-logos.mobile {
            display: none;
        }
    }
}

/* End */

/* Start - Fix direction of flex direction for sitemap, copyright, and social icons */
footer#global-footer {
    .bottom-row {
        .lp-container {
            flex-direction: column;
        }
    }
}

/* End */

/* Start - Fix layout on mobile */
footer#global-footer {
    .contact-information {
        @media only screen and (max-width: 768px) {
            .lp-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .contact-row {
                    & > div {
                        text-align: center;
                    }
                }
            }
        }
    }
    
    .middle-row {
        @media only screen and (max-width: 768px) {
            .lp-container {
                .disclaimer {
                    text-align: center;
                    
                    &:after {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
    
    .bottom-row {
        @media only screen and (max-width: 768px) {
            .fnav {
                flex-direction: row;
                gap: 16px;
                justify-content: center;
            }
            
            .copyright-container {
                align-items: center;
                
                .by {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

/* End */