/* Start - Add sitemap text */
footer#global-footer .fnav {
    row-gap: 8px;
    
    &:before {
        content: 'SITEMAP';
        display: block;
        width: 100%;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 768px) {
        &:before {
            padding-top: 16px;
            text-align: center;
        }
    }
}

/* End */