/*START - change header nav color*/
nav#global-navbar {
    .header .navigation .sub-nav-container ul {
        background-color: transparent;

        li {
            background-color: #000;

            &:hover {
                background-color: #000;
            }
        }

        a {
            color: #fff;
        }
    }

    &.scroll {
        background-color: #000 !important;

        li.navigation__item a.navigation__link {
            color: #fff;

            & span:after {
                background-color: #fff;
            }
        }

        button.hamburger-component.hamburger {
            color: #fff;
        }
    }
}

/*submenu background*/
nav#global-navbar .header .navigation .sub-nav-container ul a {
    background-color: #000;
    color: #fff;
    white-space: pre;
}

/*submenu upon hover*/
nav#global-navbar .header .navigation .sub-nav-container ul a:hover {
    background-color: #fff;
    color: #000 !important;
}

nav#global-navbar .header .navigation .sub-nav-container ul a span:after {
    background-color: #000 !important;
    transition: 0.4s;
}

/*END - Change Header nav color*/

/*START - header nav logo size adjustment*/
nav#global-navbar .header {
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;

    a.header__logo img {
        max-height: 100px !important;

        @media only screen and (max-width:768px) {
            max-height: 50px !important;
        }
    }
}

/*END- header nav logo size adjustment*/

/*START - header nav dropdown padding */
nav .header .navigation .sub-nav__link {
    max-width: 400px !important;
}

nav .header .navigation .sub-nav ul {
    max-width: 400px !important;
}

/*END*/

/*START - header nav- appear second logo when scrolled*/
nav#global-navbar.scroll {
    .header {
        a.header__logo img {
            &:last-child {
                display: block !important;
            }

            &:first-child {
                display: none !important;
            }
        }

        @media only screen and (max-width: 768px) {
            padding-right: 16px;
            padding-left: 16px;
            
            a.header__logo {
                position: absolute;
            }
            
            .header__left {
                display: none;
            }
        }
    }
}

/*END - Header nav- appear second logo when scrolled*/