/*START - change header nav color*/
nav#global-navbar {
    .header .navigation .sub-nav ul {
        background-color: transparent;

        li {
            background-color: #fff;

            &:hover {
                background-color: #FF8201;
            }
        }

        a {
            color: #18243C;
        }
    }

    &.scroll {
        background-color: #fff !important;

        li.navigation__item a.navigation__link {
            color: #18243C;

            & span:after {
                background-color: #18243C;
            }
        }

        button.hamburger-component.hamburger {
            color: #18243C;
        }
    }
}

/*submenu background*/
nav#global-navbar .header .navigation .sub-nav ul a {
    background-color: #FF8201;
    color: #FFF;
}

/*submenu upon hover*/
nav#global-navbar .header .navigation .sub-nav ul a:hover {
    background-color: #fff;
    color: #000 !important;
}

/*END - Change Header nav color*/

/*START - header nav logo size adjustment*/
nav#global-navbar .header{
    padding-top:5px;
    padding-bottom:5px;
    height:auto;
    .logo{
        max-height: 100px;
        a.logo__link img {
            @media only screen and (min-width:768px){
                max-height: 100px;
            }
        }
    }
}
/*END- header nav logo size adjustment*/

/*START - header nav dropdown padding */
nav .header .navigation .sub-nav__link {
    max-width: 400px !important;
}
nav .header .navigation .sub-nav ul {
    max-width: 400px !important;
}
/*END*/