/* Start - Add spacing in the header nav for padded websites */
nav .header .container {
    padding: 0px 12px !important;
    width: calc(100% - 24px) !important;
}

/* End */

#global-navbar {
    .header__container {
        @media only screen and (min-width: 768px) {
            width: calc(100% - 50px);
        }
    }
}

/* Start - Do not hide the header when scrolling */
nav#global-navbar.scroll {
    transform: translateY(0) scaleY(1) !important;
}

/* End */