/*START - IG Element Padding Fix*/
.ig-feed {
    padding-top: 96px !important;
    padding-bottom: 96px !important;

    @media only screen and (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*END*/

/*START - play icon*/
.video-icon::before {
    border-color: transparent transparent transparent #38B6FF !important;
}

/*END*/

/*START - fix ig pagination */
.nav-button {
    border: 2px solid #fff !important;
}

@media (max-width: 768px) {
    .bottom-nav-button {
        border: 2px solid #fff !important;
    }
}

/*END*/