/*MLS Properties*/

/*START - dropdown theme */
div.lp-container {
    div.custom-select-content {
        background: #fff !important;

        button.custom-select-item {
            color: #000 !important;

            &:hover {
                color: #fff !important;
                background: #394356 !important;
            }
        }
    }
}

/*END - dropdown theme*/
/*START - change filter button*/
div#filtersModal button#filtersSubmit {
    border: 2px solid #394356;
    background: transparent !important;
    color: #394356;

    &:hover {
        border: 2px solid #394356;
        background: #394356 !important;
        color: #fff;
    }
}

/*END - change filter button*/
/*START - range input theme color*/
div.lp-container div.slider-content {

    .irs--round .irs-handle.state_hover,
    .irs--round .irs-handle {
        background-color: #fff;
        border: 1px solid #394356;
        transition: .3s;

        i {
            background: #394356;
        }

        &:hover {
            transition: .3s;
            background-color: #394356;
            border: 1px solid #394356;

            i {
                background: #fff;
            }

        }
    }
}

/*END - range input theme color*/
/*START - MLS Properties Change Card theme*/
div.properties-grid.lp-vertical-paddings div.lp-container {
    div.properties-grid__item a.lp-listing-card.listing-card .listing-card__info {
        background-color: #fff !important;
        color: #000;
        text-transform: uppercase;

        .listing-card__logo {
            margin-bottom: 10px;
        }
    }

    div.listing-card__status>div {
        text-transform: uppercase;
        border-radius: 0px;
        background-color: #DCBA82 !important;
    }
}

@media(min-width:678px) {
    .lp-vertical-paddings {
        padding-bottom: 76px;
    }
}

/*ENd- MLS Properties Change Card theme*/