/*START - mobile contact button theme  */
body>div.mobile-contact-wrapper .mobile-contact a i {
    color: #fff !important;
}

body>div.mobile-contact-wrapper .mobile-contact a {
    background-color: #C5A95C !important;
    border: 1px solid #C5A95C !important;
}

/* END */