/*START - text grid - remove white space*/
div.lp-container {
    ul.scenes li.scene {
        min-height: auto !important;
    }
}

/*END- remove white space*/

/*START - text grid - used for testimonials padding*/
.text-grid .button-wrapper {
    padding-top: 20px !important;
}

@media (max-width: 768px) {
    .text-grid .scene__item {
        padding: 20px 10px !important;
    }
}

/*END*/

/*START - button padding */
.lp-btn {
    min-width: 250px;

    @media (max-width: 768px) {
        min-width: 325px;
    }
}

/*END*/

.lp-h2 {
    margin-bottom: 0px !important;
}

.scene__content {
    margin-top: 25px;
}

.scene__item {
    background: #18243C;
    color: #fff;
    
    .border {
        border-color: rgba(255, 255, 255, 0.25) !important;
        opacity: 1 !important;
    }
}

.scene__item img {
    filter: grayscale(100) invert(1);
}