/*START - text grid - remove white space*/
div.lp-container {
    ul.scenes li.scene {
        min-height: auto !important;
    }
}

/*END- remove white space*/

/*START - text grid - used for testimonials padding*/
.text-grid .button-wrapper {
    padding-top: 20px !important;
}

@media (max-width: 768px) {
    .text-grid .scene__item {
        padding: 20px 10px !important;
    }
}

/*END*/

/*START - button padding */
.lp-btn {
    min-width: 250px;

    @media (max-width: 768px) {
        min-width: 325px;
    }
}

/*END*/

.lp-h2 {
    margin-bottom: 0px !important;
}

.scene__content {
    margin-top: 25px;
}

.scene__item {
    background: #002349;
    color: #fff;
    
    .border {
        border-color: rgba(255, 255, 255, 0.25) !important;
        opacity: 1 !important;
    }
}

.scene__item img {
    filter: grayscale(100) invert(1);
}

/* Start - Make the text grid a testimonial element */

/* Fix large margins */
.text-grid {
    .lp-h2 {
        margin-bottom: 20px;
    }
    
    .button-wrapper {
        padding-top: 40px;
    }
}

/* Add background to text grid contents */
.text-grid {
    .scenes {
        gap: 32px;
        
        .scene {
            flex-basis: calc(33.33% - 32px);
            
            .scene__item {
                padding: 0px;
                
                .border {
                    display: none;
                }
                
                .scene__content {
                    background: #fff;
                    padding: 32px;
                    
                    p {
                        color: #000;
                        
                        &:last-child {
                            margin-bottom: 0px !important;
                        }
                    }
                }
            }
        }
    }
}

/* End */

/* Fix large margins */
.text-grid {
    .lp-h2 {
        margin-bottom: 40px !important;
    }
    
    .button-wrapper {
        padding-top: 0px !important;
    }
}

/* Add background to text grid contents */
.text-grid {
    .scenes {
        gap: 32px;
        
        .scene {
            flex-basis: calc(33.33% - 32px);
            
            @media only screen and (max-width: 768px) {
                flex-basis: 100%;
                
                &:not(:first-child) {
                    display: none;
                }
            }
            
            .scene__item {
                padding: 0px;
                
                .border {
                    display: none;
                }
                
                .scene__content {
                    p {
                        color: #fff;
                        
                        &:last-child {
                           margin-bottom: 0px !important;
                        }
                    }
                }
            }
        }
    }
}