/*Start - Add logo in the WWU*/
h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    
    &:before {
        content: '';
        background: url('https://res.cloudinary.com/luxuryp/images/w_320,c_limit,f_auto,q_auto/caj0iwzfjppgpwdbq0o7/light-logo');
        height: 160px;
        width: 320px;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/*End*/

/* Start - Display video background on mobile */
.video-wrapper {
    @media only screen and (max-width: 768px) {
        .video-wrapper {
            display: block;
        }

        .poster {
            display: none;
        }
    }
}

/* End */