/*Start - Add logo image*/
/*Note: Adjust height if needed*/
h2:before {
    display: block;
    content: '';
    height: 100px;
    background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/lscer2xb13gnd0pzh2ua/mask-group');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

/*End*/

/* Start - Align contents to the left */
.container {
    align-items: start !important;
    margin-left: 0px;

    /* Align the title to the left */
    .serif {
        width: 100%;
        text-align: left;
        
        &:after {
            left: 0% !important;
            margin-left: 0px !important
        }
    }
    
    /* Align the description to the left */
    & > p {
        text-align: left;
    }
}

/* End */