/*remove agent image*/
.slick-slide img {
    display: none;
}
/*END*/

/*START - change hyperlink arrow color*/
div.lp-container span.link-icon{
    color: #fff !important;
    
    &:after {
        border: 1px solid #D9D9D9;
        background-color: #D9D9D9 !important;
    }
    
    &:before {
        background-color: #fff !important;
    }
    
    &:hover{
        color: #D9D9D9 !important;
        
        &:after {
            border-color: #D9D9D9;
            background-color: transparent !important;
        }
        
        &:before {
            background-color: #D9D9D9 !important;
        }
    }
    
}
/*END - change hyperlink color*/

/*Start - Theme the initials of the reviews*/
.feature {
    background-color: #D9D9D9 !important;
    color: #fff !important;
}

/*End*/