/* Start - Reduce heading title margin */
.lp-title-group {
    margin-bottom: 20px !important;
}

/* End */

/* Start - Hide view more button if hidden */
.btn-holder:has(button[style="display: none;"]) {
    display: none;
}

/* End */

/* Start - Remove agent image */
.slick-slide img {
    display: none;
}
/*END*/

/*Start - Theme the name initials of the reviews*/
.feature {
    background-color: #EFEFEF !important;
    color: #BA960C !important;
}

/*End*/

/* Start - change hyperlink arrow color*/
div.lp-container span.link-icon{
    color: #000;
    
    &:after {
        border: 1px solid #BA960C;
        background-color: #BA960C !important;
    }
    
    &:before {
        background-color: #fff !important;
    }
    
    &:hover{
        &:after {
            border-color: #BA960C;
            background-color: transparent !important;
        }
        
        &:before {
            background-color: #BA960C !important;
        }
    }
    
}
/* End */