/* Start - Reduce heading title margin */
.lp-title-group {
    margin-bottom: 20px !important;
}

/* End */

/* Start - Hide view more button if hidden */
.btn-holder:has(button[style="display: none;"]) {
    display: none;
}

/* End */

/* Start - Remove agent image */
.slick-slide img {
    display: none;
}
/*END*/

/*Start - Theme the name initials of the reviews*/
.feature {
    background-color: #EFEFEF !important;
    color: #A49B8E !important;
}

/*End*/

/* Start - change hyperlink arrow color*/
div.lp-container span.link-icon{
    color: #000;
    
    &:after {
        border: 1px solid #A49B8E;
        background-color: #A49B8E !important;
    }
    
    &:before {
        background-color: #fff !important;
    }
    
    &:hover{
        &:after {
            border-color: #A49B8E;
            background-color: transparent !important;
        }
        
        &:before {
            background-color: #A49B8E !important;
        }
    }
    
}
/* End */

/* START - Fix dimensions */
.lp-container {
    @media (min-width: 1367px) {
        padding-left: 77px;
        padding-right: 77px;
    }

    @media (min-width: 768px) and (max-width: 1366px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* END */