/*START - fix padding*/
div.lp-container {
    padding-top: 96px;
    padding-bottom: 96px;

    @media (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

.lp-btn {
    margin-bottom: 29px !important;
}

/*END*/

/*START - 1 line for element title*/
.lp-container .title {
    max-width: 100% !important;

    h2 {
        max-width: 100% !important;
    }
}

/*END- 1 line for element title*/

/*START - changing unselected button's border*/
div.lp-container div.type-list div.type-list__item {
    border: 1px solid #435352;
}

/*END - changing unselected button's border*/

/*START - stars color*/
div.rate-item .star-row:before {
    background: linear-gradient(90deg, #435352 var(--percent), rgba(0, 0, 0, 0.1) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*ENd - stars color*/

/*START - change pill button theme*/
div.type-list div.type-list__item {
    color: #000 !important;
    background-color: transparent !important;
    border-color: rgba(0, 0, 0, 0.1) !important;

    &.active,
    &:hover {
        color: #fff !important;
        background-color: #435352 !important;
        border-color: #435352 !important;
    }
}

/*END - change pill button theme*/

/*START - link underline */
.lp-link {
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    text-decoration: none !important;

    &:hover {
        color: #435352 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #435352 !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

.name-item__description {
    opacity: 1 !important;
}

/*END - link underline*/

/*START - category and border theming */
/*catergory label*/
div.category-wrap {
    background: #435352;
    color: #000;
    text-transform: uppercase;
}

/*borders*/
div.items-box__filters {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.items-box__content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*END*/

/*School SVG arrows color adjust - Start*/
div.filter-arrows {
    svg {
        path {
            fill: #000 !important;
        }
    }
}

div.website-link {
    svg {
        path {
            fill: #000 !important;
        }
    }
}

div.items-box__content {
    svg {
        path {
            fill: #fff !important;
        }
    }
}

/*School SVG arrows color adjust - END*/