/* START - Add office number to the contact overlay */
.contact-with-image-agent__link[href*="tel:"] {
    &:before {
        content: 'M: ';
    }
    
    &:after {
        content: 'O: (404) 856-6390';
        display: block;
    }
}

/* END */