/* Start - Theme the CTA link with arrow */
.featured-agent__cta {
    color: #000;
    
    &:after {
        background-color: #BA960C;
    }
    
    &:before {
        background-color: #fff;
    }
    
    &:hover {
        &:after {
            background-color: transparent;
            border: 1px solid #BA960C;
        }
        
        &:before {
            background-color: #BA960C;
        }
    }
}

/* End */