/*START - change pagination color*/
.lp-arrow {
    background-color: #BA960C;
    border-radius: 35px;
    border: 2px solid #BA960C;
    transition: 0.4s;

    &:before {
        display: none;
    }

    &:after {
        background-color: #fff;
    }

    &:hover {
        background-color: transparent;
        border: 2px solid #BA960C;

        &:before {
            display: none;
        }

        &:after {
            background-color: #BA960C;
        }
    }
}

/*END - change pagination color*/

/*START - change label color*/
div.properties-slider {
    .slider-item__pill {
        color: #fff;
    }

    .slider-item__image .status {
        background: #BA960C;
        color: #fff;
    }

}

/*END - change label color*/

/*START - change hyperlink color*/
.link-icon {
    color: #000;

    &:before {
        background-color: #fff;
    }
    
    &:after {
        background-color: #BA960C;
    }
    
    &:focus,
    &:active,
    &:hover {
        &:before {
            background-color: #BA960C;
        }
        
        &:after {
            background-color: transparent;
            border: 1px solid #BA960C;
        }
    }
}

/*END - change hyperlink color*/

/*START Item Address Opacity*/
div.properties-slider .slider-item__address {
    opacity: 1;
}

/*END*/