/*remove agent image*/
.slick-slide img {
    display: none;
}

/*END*/

/* START - Add theme to testimonial element */
.lp-container {
    /* Theme arrows */
    .arrows-holder {
        .lp-arrow {
            &:before,
            &:after {
                transition: 0.25s;
            }

            &:before {
                border-color: #FFF;
                background: #FFF;
            }

            &:after {
                background-color: #A29B8F !important;
            }

            &:hover {
                &:before {
                    background: transparent;
                }

                &:after {
                    background-color: #FFF !important;
                }
            }
        }
    }

    /* Theme border */
    .top-row {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /*START - Theme Read More Button */
    .link-icon {
        color: #fff;

        &:after {
            background-color: #fff;
            border: 1px solid #fff;
        }

        &:before {
            background-color: #A49B8E !important;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                background-color: transparent;
                border-color: #fff;
            }

            &:before {
                background-color: #fff !important;
            }
        }
    }

    /*END -change hyperlink color*/
}

/* END */

.feature {
    color: #000;
    background: #fff;
}