/*Start - Fix accordion dimensions*/
.accordion.tabs {
    .accordion-header,
    .accordion-content.tab-body.is-active{
        padding: 26px 40px !important;
    }
    
    .accordion-content.tab-body.is-active{
        padding-top: 0px !important;
    }
}

/*End*/

.lp-title-group {
    max-width: 1400px;
    margin-bottom: 40px;
}

/* Start - Theme arrows */
.accordion-opener {
    border-color: #182C4E !important;
    
    &:before {
        border-color: #182C4E !important;
    }
}

/* End */