/*Start - Fix dropdown theme*/
div.lp-container {
    div.custom-select-content {
        background: #FFFFFF !important;

        button.custom-select-item {
            color: #12233B !important;

            &:hover {
                color: #FFFFFF !important;
                background: #12233B !important;
            }
        }
    }
}
/*End*/

/*Ebook Modal*/
/*Start - Fix Ebook Modal not scrolling*/
.modal.visible:has(.ebook-download) {
    overflow-y: scroll !important;
    
    @media only screen and (max-width: 768px) {
        /*Adjust close button position for mobile view*/
        .close.lp-close {
            top: 30px;
            right: 20px;
        }
        /*End*/
    }
}
/*End*/

/*Adjust close button position for mobile view*/
.modal.visible:has(.ebook-download) {
    @media only screen and (max-width: 768px) {
        .close.lp-close {
            top: 30px;
            right: 20px;
        }
    }
}
/*End*/

/*CTA Block*/
/*Start - Fix Mobile Padding for View More Homes button*/
.lp-btn {
    @media only screen and (max-width: 768px) {
        padding: 20px !important;
    }
}
/*End*/

/*Start - Fix the padding for horizontal alignment and adjust width of title*/
div.cta-block .text-block {
    max-width: 1500px;

    p {
        margin-bottom: 0px !important;
    }
}
/*End*/

/*Schedule a Showing*/
/*Start - Add padding for mobile view*/
.schedule__content {
    @media only screen and (max-width: 768px) {
        padding: 64px 24px;
    }
}
/*End*/

/*GSM*/
/*Start - Remove bottom margin*/
div.gallery-component.redesign {
    @media only screen and (min-width: 769px) {
        .gallery-component__col {
            margin-bottom: 0px !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .gallery-component__col:last-child {
            margin-bottom: 0px !important;
        }
    }
}
/*End*/

/*Contact Modal*/
/*The Producer*/
/*Start - Chnage Phone Number 2 Text*/
div.info-zone {
    div.info-zone_contact:nth-child(2) {
        .info-zone_contact_cell {
            .contact_title {
                font-size: 0px;
                
                &:before {
                    content: 'Office Number';
                    font-size: 14px;
                }
            }
        }
    }
}

/*End*/

/*Start - Change Phone Number Labels*/
div.contact-form.redesign {
    /*Phone Number Selector*/
    div.info-zone_contact.type_user:nth-child(1) {
        div.info-zone_contact_cell {
            p.contact_title {
                font-size: 0px;
                
                &:before {
                    font-size: 14px;
                    content: 'Phone Number';
                }
            }
        }
    }
    /*Office Number Selector*/
    div.info-zone_contact.type_user:nth-child(2) {
        div.info-zone_contact_cell:first-child {
            p.contact_title {
                font-size: 0px;
                
                &:before {
                    font-size: 14px;
                    content: 'Office Number';
                }
            }
        }
    }
}

/*End*/

/*Start - Hide Address Label*/
div.contact-form.redesign {
    div.info-zone div.info-zone_contact:not(.type_user) {
        .info-wrap-contact_title {
            display: none;
        }
    }
}

/*End*/

/*The Influencer*/
/*Properties Slider*/
/*Start - Change Info box theme*/
.el-property-slider__info {
    background-color: #000 !important;
}

/*End*/

/*The Producer*/
/*Home Valuation*/
/*Start - Home Valuation Fix bottom padding*/
.content {
    padding-bottom: 124px !important;
}
/*End*/

/*Start - Adjust side menu font size*/
div#global-sidemenu {
    a.sidebar__nav-link {
        font-size: 15px;
    }
}

/*End*/

/*Masterpiece*/
/*Start - Decrease header navigation font size*/
nav#global-navbar .navigation__link {
    font-size: 16px;
}

/*End*/

/*START - opening - from full bleed to half*/
div.redesign {
    .lp-container {
        .collection {
            min-height: 600px !important;
            .item {
                min-height: calc(600px - 240px) !important;
            }
        }
    }
}
/*END*/

.wow {
    animation-delay: 1s;
}

/*Masterpiece*/
/*Start - Add Display logo on hover effect*/
.item .img-wrap {
    position: relative;
    
    &::before {
        background: rgba(255, 255, 255, 0);
        background-position: bottom center;
        transition: 0.5s;
        content: '';
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 100%;
        opacity: 0;
    }
}

.item:hover .img-wrap {
    position: relative;
    
    &::before {
        background: rgba(255, 255, 255, 0.5);
        background-image: url("https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/dxmgczxxg11fnu65km5n/favicon");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        opacity: 1;
    }
}

/*End*/

/*Homepage*/
/*Start - Add display logo on hover effectg*/
.team-slide-img {
    position: relative;
    
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        background-position: bottom center;
        z-index: 10;
        transition: 0.5s;
    }
    
    &:hover:before {
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url("https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/m2689dz8etafpzsfsmjg/rr1-favicon-black");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
}
/*End*/

/*Team Page*/
/*Start - Add display logo on hover effectg*/
figure {
    position: relative;
    
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        background-position: bottom center;
        z-index: 10;
        transition: 0.5s;
    }
    
    &:hover:before {
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url("https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/m2689dz8etafpzsfsmjg/rr1-favicon-black");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }
}
/*End*/

/*Masterpiece*/
/*Featured Neighborhoods*/
/*Start - Update overlay color transparency*/
.overlay {
    background-color: rgba(0, 0, 0, 0.15)!important;
}

/*End*/

/*Side Menu*/
/*Start - Customize side menu border lines*/
div.sidemenu .navigation__item {
    border-bottom: 1px solid rgba(9, 83, 84, 1) !important;
}

/*End*/

/*Start - Add 2nd address in Masterpiece template*/
.contact {
    li.full-width:last-child {
        display: flex;
        flex-direction: column;
    }
    li.full-width:last-child:after {
        margin-top: 16px;
        content: '126 Newbury St, \a Boston, MA 02116';
        width: 100%;
        white-space: pre;
    }
}

/*End*/

/*Start - Add opening title letter spacing*/
h1,
.lp-h1 {
    letter-spacing: 10px;
}

/*End*/

/*Start - Update theme of form steps*/
.steps-nav {
    li.active {
        background-color: #000 !important;
    }
}

/*End*/

/*START - fix bottom padding on desktop and mobile view */
.lp-vertical-paddings {
    padding-bottom: 146px;

    @media only screen and (max-width: 768px) {
        padding-bottom: 64px;
    }
}

/*END*/

/*START - Testimonial section theme (Local) with image background*/
svg path {
    fill: #fff;
    fill-opacity: 1;
}

svg circle {
    fill: rgba(255, 255, 255, 0.5);
    fill-opacity: 1;
}

div.arrows-container button.lp-arrow {
    border: solid 2px #fff;

    &:before {
        border-color: #fff;
    }

    &:hover {
        border: solid 2px #fff;
        background-color: #fff;

        &::before {
            border-color: #fff;
        }
    }
}

div.bottom p.num-pages.js-num-pages {
    color: #fff;
}

/*END - Testimonial section theme(Local) with image background*/

/*START- invert icon*/
.testimonials-section .list-cell .avatar img {
    filter: invert(1);
}

/*END - invert icon*/

/*Producer*/
/*Start - Adjust the padding of the client quote*/
.redesign.property-quote {
    padding-top: 96px;
    padding-bottom: 96px;
}

/*End*/

/*Start - Adjust the coloring of the client quote*/
blockquote strong {
    color: #FFFFFF !important;
    
    &:before {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
}

/*End*/

/*Start - Make the header navigation into a sticky navigation*/
nav#global-navbar.scroll {
    position: fixed !important;
    transform: none !important;
    transition: 0.5s;
}

/*End*/

/*Start - Theme homepage search theme*/
.search-lease-tabs {
    .search-lease-tab:not(.active) {
        background-color: #153E35 !important;
    }
}

/*End*/


/*Start - Adjust padding and height*/
.redesign.opening-with-search {
    min-height: auto !important;
    padding-top: 96px !important;
    padding-bottom: 96px !important;
    
    .bottom-spacer {
        display: none;
    }
}

/*End*/

/*Start - Fix vertical CTA block 1 line title*/
div.cta-block .text-block {
    max-width: 1500px;

    p {
        margin-bottom: 0px !important;
    }
}
/*End*/

div.text-wrapper {
    padding: 80px 60px 60px 40px;
    @media (max-width: 768px){
        padding: 50px 60px 70px 55px;
    }
    
}


@media (max-width: 768px){
    div.image-wrapper{
        padding-bottom: 0%!important;
        img{
            position: unset!important;
        }
    }
}

.description:after{
    margin-top: 30px;
    background-image: url('https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/ctd3utzrnvbkjrxluwky/marta_signature');
    background-size: 320px auto;
    display: inline-block;
    width: 320px; 
    height: 130px;
    content:"";
    background-repeat: no-repeat;
    @media (max-width: 768px){
         background-size: 280px auto;
        display: inline-block;
        width: 280px; 
        height: 110px;
    }
}

/*Gradient BG*/
background-image: linear-gradient(to bottom,rgb(232, 221, 205)50%,rgba(255, 255, 255, 1)50%)!important;
/*End*/

/*Start - Style the hoverable image*/
.hoverable-image.hoverable-image--straight {
    /*Maintain the aspect ratio of the image*/
    .hoverable-image__img-col {
        aspect-ratio: 1/1;
        @media only screen and (max-width: 768px) {
            & > div {
                min-height: auto !important;
            }
        }
    }
    /*Add Spacing for the text container in desktop view*/
    .hoverable-image__text-wrap {
        padding-top: 64px;
        padding-bottom: 64px;
        width: 100%;
    }
    /*Customize the spacing and theme of the text container*/
    .hoverable-image__text-col {
        padding-left: 60px !important;
        padding-right: 60px !important;
        background: #181919;
        
        @media only screen and (max-width: 768px) {
            padding-left: 30px !important;
            padding-right: 30px !important;
            margin-top: 0px;
            text-align: center;
            
            img {
                width: 100% !important;
            }
        }
    }
}

/*End*/

div.testimonials.redesign .custom-arrows--dark.arrows button.slick-arrow{
    background-color: #1B489B;
    border-color: #1B489B;
    &:before {
        color: #fff;
        opacity: 1;
    }
    &:hover {
        background-color: transparent;
        border-color: #1B489B;
        &:before {
            color: #1B489B;
        }
    }
}

/*Image Slider with CTA*/
/*Start - Swith Text and Image placement*/
.lp-container {
    @media only screen and (min-width: 769px) {
        .sell-section__row {
            flex-direction: row-reverse;
            
            .sell-section__col.sell-section__col--left {
                flex-direction: row-reverse;
            }
        }
    }
    
    @media only screen and (max-width: 768px) {
        .lp-h6.lp-text--subtitle {
            p {
                display: none;
            }
        }
    }
}

/*End*/

/*Signature*/
/*Start - Fix navigation links creating a new line*/
#global-navbar > header {
    @media only screen and (min-width: 1024px) {
        .navbar {
            align-items: center;
            
            .navigation {
                height: 56px;
                overflow: hidden;
            }
        }
    }
}

/*End*/

