/* START - Add logo as overlay background */
& {
    position: relative;
    
    &:after {
        content: ' ';
        display: block;
        height: 200px;
        width: 300px;
        background: url('https://res.cloudinary.com/luxuryp/images/w_320,c_limit,f_auto,q_auto/zkrnh2gdcfjq0tz96yyo/albers-real-estate-advisors-favicon');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0px;
        right:0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
        opacity: 0.25;
    }
}

/* END */