/*START - schedule showing change theme color */
div.redesign {
    div.type-selector__group label.type-selector__label.lp-btn.lp-btn--outline.lp-btn--dark {
        border-color: #A62424;
        background-color: #A62424;
        color: #fff;

        &:hover {
            border-color: rgba(255, 255, 255, 0.25);
            background-color: transparent;
            color: #A62424;
        }
    }

    div.custom-select {
        .custom-select-menu .custom-select-content {
            color: #000;
            background-color: #fff;

            .custom-select-item {
                color: #000;

                &:hover {
                    color: #fff;
                    background-color: #A62424;
                }
            }
        }

        button.custom-select-toggle.is-placeholder {
            border-color: rgba(255, 255, 255, 0.25);
            color: #000;

            &:after {
                border-color: rgba(255, 255, 255, 0.25);
            }
        }
    }

    button.slick-arrow {
        border-color: #A62424;
        background-color: #A62424;

        &:before {
            border-color: #fff !important;
        }

        &:hover {
            background-color: transparent;
            border-color: #A62424;

            &:before {
                border-color: #A62424 !important;
            }
        }
    }
    
    .calendar__slide .calendar__item {
        border-color: rgba(255, 255, 255, 0.25);
    }

    .calendar__slide.selected .calendar__item {
        border-color: rgba(255, 255, 255, 0.25);
        background-color: #A62424;
        color: #fff;
    }

    button.lp-btn {
        text-transform: uppercase;
    }
}

/*choose a time*/
.lp-input--dark {
    color: #000;
    border-color: rgba(255, 255, 255, 0.25);
}

/*END- schedule showing change theme color*/

/*START - center title and desc */
div.lp-title-group {
    text-align: center;
}

/*END*/

h2,
.lp-h2 {
    font-size: 55px;

    @media only screen and (max-width: 768px) {
        font-size: 28px;
    }
}

/*START - change time link*/
a.hyperlink-style-1 {
    font-weight: 400;
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;
    text-transform: uppercase !important;

    &:hover {
        color: #A62424 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #A62424 !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/

/*START - sched a showing - 2nd page*/
.lp-input--dark::placeholder {
    opacity: 1 !important;
}

.input-container .lp-input~.input-icon {
    filter: invert(1) !important;
}

/*END*/

.redesign {
    @media only screen and (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}