/*Start - Fix vertical CTA block 1 line title*/
div.cta-block .text-block {
    max-width: 1500px;

    p {
        margin-bottom: 0px !important;
    }
}
/*End*/

.lp-btn {
    @media only screen and (max-width: 768px) {
        padding: 20px !important;
    }
}