/*START - ebook - padding*/
.ebook-download {
    padding-top: 96px;
    padding-bottom: 96px;

    @media only screen and (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

/*END*/

/*START - dropdown ebook*/
.ebook-download .custom-select-item {
    color: #000 !important;

    &:hover {
        color: #fff !important;
        background-color: #2a29a6 !important;
    }
}

.custom-select-toggle:after {
    border-color: #fff;
}

/*END*/

/*Start - Reduce the spacing of the form and image*/
.ebook-download__col.ebook-download__col--form {
    @media only screen and (min-width: 769px) {
        max-width: fit-content !important;
    }
}

/*End*/

/*Start - Fix Ebook Modal not scrolling*/
.modal.visible:has(.ebook-download) {
    overflow-y: scroll !important;

    @media only screen and (max-width: 768px) {

        /*Adjust close button position for mobile view*/
        .close.lp-close {
            top: 30px;
            right: 20px;
        }

        /*End*/
    }
}

/*End*/