/*START - Floating Mobile Contact Buttons - Button Fix - Solid */
.contact-form__content {
    .lp-btn {
        background: #1E1E1E !important;
        color: #fff !important;
        border-color: #1E1E1E !important;

        &:hover {
            background: transparent !important;
            color: #1E1E1E !important;
        }
    }
}

/*END*/

/* Start - Theme disclaimer link */
#global-mobile-contact {
    .pop-up {
        .lp-disclaimer a {
            position: relative !important;
            color: #000 !important;
            transition: 0.4s;
            font-weight: 400;
            text-decoration: none !important;
            display: inline-block;

            &:hover {
                color: #1E1E1E !important;
            }

            &:before,
            &:after {
                transition: 0.4s;
                text-decoration: none !important;
                line-height: 1;
                content: "" "";
                height: 1px;
                position: absolute !important;
                bottom: 0;
                left: 0;
            }

            &:before {
                width: 100% !important;
                background-color: rgba(0, 0, 0, 0.1) !important;
            }

            &:after {
                width: 0% !important;
                background-color: #1E1E1E !important;
            }

            &:hover:after {
                width: 100% !important;
            }

            @media only screen and (max-width: 768px) {
                text-decoration: underline;

                &:before,
                &:after {
                    display: none;
                }

                &:hover {
                    color: #1E1E1E;
                }
            }
        }
    }
}

/* End */

/* Start - Floating Buton Theme input elements */
#global-mobile-contact {
    .pop-up {
        input,
        textarea {
            border-color: rgba(0, 0, 0, 0.1);
            -webkit-text-fill-color: #000;

            &:focus {
                border-color: rgba(0, 0, 0, 0.75);
            }
        }
    }
}

/* End */

/* Start - Theme close button */
#global-mobile-contact {
    .pop-up {
        .close-btn {
            color: #000;
        }
    }
}

/* End */

/* Start - Flaoting Button Adjust form padding */
#global-mobile-contact {
    .pop-up {
        .lp-container {
            padding: 64px;
            
            @media only screen and (max-width: 768px) {
                padding: 24px 24px;
            }
        }
    }
}

/* End */