/* Start - Change dimensions of tiles to 1 by 1 center */
a.gallery-card {
    &:before {
        background: rgba(0, 0, 0, 0.5) !important;
    }
    
    .lp-h3.gallery-card__title {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        
        &:after {
            display: none;
        }
    }
}

/* End */