/* START - Center the title */
a.gallery-card {
    &:before {
        background: rgba(0, 0, 0, 0.5) !important;
    }
    
    .lp-h3.gallery-card__title {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        
        &:after {
            display: none;
        }
    }
}

/* END */

/*START - Adjust font-size*/
div > div > div > ul > li > a {
    font-size: 40px;
    line-height: 44px;
    text-transform: capitalize;
}
/*END - Adjust font-size*/
div.container {
    max-width: 100%;
}