/* START - Uppercase Heading Tags */
h1,
h2,
h3,
h4,
h5,
.lp-h1,
.lp-h2,
.lp-h3,
.lp-h4,
.lp-h5 {
    text-transform: uppercase !important;
}

/*START - Sidemenu & header nav font */
div#global-sidemenu.sidemenu,
nav#global-navbar {
    & a {
        text-transform: uppercase;
    }

    & button {
        text-transform: uppercase;
    }
}

/* END */