.custom-form__footer {
    justify-content: center;
}

.close.lp-close {
    @media only screen and (max-width: 768px) {
        top: 30px;
    }
    
    &:before {
        background-color: #000 !important;
    }
}

.custom-form__header {
    margin-bottom: 0px;
}

.form-row {
    .lp-input-group {
        input,
        textarea {
            border-color: rgba(0, 0, 0, 0.1);
            color: #000;
        }

        .lp-input:-webkit-autofill,
        .lp-input--dark:-webkit-autofill {
            -webkit-text-fill-color: #000;
        }
    }
}

.form-col:has(textarea) {
    flex: 1 1 800px;
}

.custom-form__header {
    max-width: 1000px !important;
}

/*START - dropdown theming  */
.uf-cus-sel-item {
    background: #fff !important;
    color: #000 !important;
    
    &:hover {
        background: #C2B490 !important;
        color: #fff !important;
    }
}

/* End */