/*START - font - makes global font uppercase*/
h1 {
    text-transform: uppercase !important;
}

.lp-h1 {
    text-transform: uppercase !important;
}

h2 {
    text-transform: uppercase !important;
}

.lp-h2 {
    text-transform: uppercase !important;
}

h3 {
    text-transform: uppercase !important;
}

.lp-h3 {
    text-transform: uppercase !important;
}

h4 {
    text-transform: uppercase !important;
}

.lp-h4 {
    text-transform: uppercase !important;
}

h5 {
    text-transform: uppercase !important;
}

.lp-h5 {
    text-transform: uppercase !important;
}

/*START - Sidemenu & header nav font */
div#global-sidemenu.sidemenu,
nav#global-navbar {
    & a {
        text-transform: uppercase;
    }

    & button {
        text-transform: uppercase;
    }
}

/*END*/



nav#global-navbar .header .container {
    @media screen and (min-width: 768px) {
        padding: 0 60px;
    }
}


/*START - side nav hover effect */
div#global-sidemenu.sidemenu a {
    color: #fff !important;

    &:hover {
        color: #999 !important;
    }
}

/*dropdown*/
body>div.sidemenu .sub-nav.visible+.main-nav {
    color: #000 !important;
}

body>div.sidemenu .sub-nav-container .main-nav::after {
    border-bottom: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

body>div.sidemenu .sub-nav-container .main-nav:hover::after {
    border-bottom: 1px solid #999 !important;
    border-right: 1px solid #999 !important;
}

body>div.sidemenu .sidebar__nav-link {
    font-size: 17px !important;
}

/*END*/



/*START - change header nav color*/
nav#global-navbar {
    .header .navigation .sub-nav ul {
        background-color: transparent;

        li {
            background-color: #fff;

            &:hover {
                background-color: #939599;
            }
        }

        a {
            color: #000;
        }
    }

    &.scroll {
        background-color: #051D3C !important;

        li.navigation__item a.navigation__link {
            color: #fff;

            & span:after {
                background-color: #fff;
            }
        }

        button.hamburger-component.hamburger {
            color: #fff;
        }
    }
}

/*submenu upon hover*/
nav#global-navbar .header .navigation .sub-nav ul a:hover {
    color: #000 !important;
}

/*END - Change Header nav color*/



/*START - global dropdown theming */
.custom-select-item {
    background: #fff !important;
    color: #000 !important;

    &:hover {
        background: #939599 !important;
        color: #000 !important;
    }
}

/* END */


/*START - mobile contact button theme  */
body>div.mobile-contact-wrapper .mobile-contact a i {
    color: #fff !important;
}

body>div.mobile-contact-wrapper .mobile-contact a {
    background-color: #051D3C !important;
    border: 1px solid #051D3C !important;
}

/* END */


/*START - Contact Modal - Disclaimer*/
#modal-global-contact-us .lp-disclaimer a {
    text-decoration: none !important;
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:after,
    &:before {
        content: "";
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        outline: none;
        transition: 0.4s;
    }

    &:before {
        background-color: #ccc;
        width: 100%;
    }

    &:after {
        width: 0%;
        background-color: #fff;
        transition: 0.4s;
    }

    &:hover {
        text-decoration: none !important;

        &:after {
            width: 100%;
        }
    }
}

/*END*/


/*START - adjust contact overlay opacity*/
div#modal-global-contact-us div.modal-content div.contact-form.redesign:after {
    background-color: rgba(0, 0, 0, 0.8);
}

/*END - adjust contact overlay opacity*/


/*START - work around for long email address*/
div#modal-global-contact-us .contact-form .lp-link.info-zone_contact_link {
    overflow-wrap: anywhere !important;
    white-space: normal !important;
}

/*ENd - work around for long email address*/


/*START - avoid title to put on next line & reduce font-size on mobile view*/
div#modal-global-contact-us {
    .contact-form {
        .section-message form {
            max-width: 490px;
        }

        h2 {
            @media only screen and (max-width:1080px) {
                font-size: 37px;
            }

            @media only screen and (max-width:925px) {
                font-size: 25px;
            }
        }
    }

    .close {
        top: 4vh;
    }
}

/*END - reduce font-size on mobile view*/



/*START - contact form theme and hyperlinks */
#modal-global-contact-us .contact-form .section-message label {
    text-transform: uppercase;
    color: #fff !important;

}

#modal-global-contact-us .lp-input-group {
    .lp-input {
        border-color: #fff !important;
    }
}

div#modal-global-contact-us a:not(.lp-socials__link):after {
    background-color: #fff !important;
}

/*START - Contact Modal Hyperlink color*/
.info-zone_contact_cell {
    a {
        &:hover {
            color: #fff !important;
        }

        &:before {
            background-color: #ccc !important;
            width: 100%;
        }

        &:after {
            background-color: #fff !important;
        }
    }
}

/*END*/

/* END */


/*START - contact overlay space and mobile view -*/
div#modal-global-contact-us .contact-form {
    .info-zone {
        .info-zone_contact_cell {
            margin-bottom: 21px;
        }

        .type_user:nth-of-type(2) {
            margin-bottom: 21px;
        }

        .type_user {
            @media only screen and (max-width: 768px) {
                margin-bottom: 25px;
            }
        }
    }

    .info-zone_contact {
        margin-bottom: 14px;
    }

    .section-message h2 {
        font-size: 38px;

        @media only screen and (max-width: 768px) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 38px;

        @media only screen and (max-width: 768px) {
            font-size: 28px;
        }
    }
}

/*END*/


/*START - to make the button's padding consistent*/
.redesign .btn--small {
    padding: 20px 46px !important;
}

.lp-btn {
    padding: 20px 46px !important;
}

button.newsletter-signup__form-item {
    line-height: 1;
    font-weight: 700;
}

#modal-global-contact-us .contact-form .section-message form .submitButton {
    padding: 14px 20px;
}

/*END*/

/*START - reduce padding between phone and address  */
@media (max-width: 768px) {
    footer#global-footer .footer .info-wrap {
        .type_user {
            margin-bottom: 21px;
        }
    }
}

@media (min-width: 1201px) {
    footer#global-footer .footer .info-wrap {
        .type_user {
            margin-bottom: 21px;
        }
    }
}

/*END*/


/*START - reduce padding between client name and get in touch */
@media (max-width: 768px) {
    footer#global-footer .footer.no_newsletter h3 {
        margin-bottom: 26px !important;
    }
}

/*END*/


/*START - align logo to disclaimer */
footer#global-footer div.text_footer.first_text_footer div.images_box .img_size {
    height: 100px;
}

/*END*/

/*START - footer link underline*/
footer#global-footer {

    a.hvr_animation,
    .lp-link {
        position: relative !important;
        color: #000 !important;
        transition: 0.4s;

        &:hover {
            color: #000 !important;
        }

        &:before,
        &:after {
            transition: 0.4s;
            text-decoration: none !important;
            line-height: 1;
            content: "" "";
            height: 1px;
            position: absolute !important;
            bottom: 0;
            left: 0;
        }

        &:before {
            width: 100% !important;
            background-color: #ddd !important;
        }

        &:after {
            width: 0% !important;
            background-color: #000 !important;
        }

        &:hover:after {
            width: 100% !important;
        }
    }
}

/*END - footer link underline*/


/*START - footer lp and privacy policy font weight */
footer#global-footer .footer .info-privacy {

    .copy_zone a,
    .powered_zone a {
        font-weight: 400;
    }
}

/*END*/