/*Start - Theme pagination*/
.paginationjs-next a,
.paginationjs-prev a {
    background: #185770 !important;
    border-radius: 50%;
    transition: 0.4s;
    -webkit-tap-highlight-color: transparent;

    &:before {
        border: 1px solid transparent;
    }

    &:after {
        background-color: #fff !important;
    }

    &:hover {
        background: transparent !important;

        &:before {
            border-color: #185770;
        }

        &:after {
            background-color: #185770 !important;
        }
    }
}

/*End*/

/*Start - Theme the underline pagination*/
.paginationjs-page.active {
    a {
        color: #185770;
    }

    a:after {
        background-color: #185770 !important;
    }
}

.paginationjs-page:not(.active) {
    a:hover {
        border: 2px solid #185770 !important;
    }
}

/*End*/

/*START - (neighb grid) change hyperlink color*/
a.item {
    .link-icon {
        color: #000;

        &:after {
            background-color: #185770;
            border: 1px solid #185770;
        }

        &:before {
            background-color: #fff !important;
        }
    }

    &:hover .link-icon {
        color: #185770 !important;

        &:after {
            background-color: transparent;
            border-color: #185770;
        }

        &:before {
            background-color: #185770 !important;
        }
    }
}

/*END -change hyperlink color*/