/*Start - Theme pagination*/
.paginationjs-next a,
.paginationjs-prev a {
    background: #F51010 !important;
    border-radius: 50%;
    transition: 0.4s;
    -webkit-tap-highlight-color: transparent;

    &:before {
        border: 1px solid transparent;
    }

    &:after {
        background-color: #fff !important;
    }

    &:hover {
        background: transparent !important;

        &:before {
            border-color: #F51010;
        }

        &:after {
            background-color: #F51010 !important;
        }
    }
}

/*End*/

/*Start - Theme the underline pagination*/
.J-paginationjs-page.active {
    a {
        color: #F51010;
    }

    a:after {
        background-color: #F51010 !important;
    }
}

/*End*/

/*START - (neighb grid) change hyperlink color*/
a.item {
    .link-icon {
        color: #fff;
        
        &:after {
            background-color: #F51010;
            border: 1px solid #F51010;
        }

        &:before {
            background-color: #fff !important;
        }
    }

    &:hover .link-icon {
        color: #F51010 !important;

        &:after {
            background-color: transparent;
            border-color: #F51010;
        }

        &:before {
            background-color: #F51010 !important;
        }
    }
}

/*END -change hyperlink color*/