.property-card__header {
    .property-card__label {
        background: #E97A2B;
        color: #FFF;
        padding: 8px 16px;
    }
}

.featured-properties__footer {
    &:before {
        border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
}

.featured-properties__arrows {
    gap: 8px;

    .slick-arrow {
        background: #E97A2B;
        border: 2px solid #E97A2B;

        &:before {
            color: #FFF;
        }

        &:hover {
            background: transparent;

            &:before {
                color: #E97A2B;
            }
        }
    }
}