#modal-global-contact-us {
    @media only screen and (max-width: 768px) {
        /* Use only if using dark background */
        .contact-form__close.close {
            color: #FFF;
            opacity: 1;
        }
    }
    
    .socials {
        .lp-socials {
            display: flex;
            flex-direction: row;
            gap: 16px;
            
            li {
                padding: 0px !important;
            }
        }
    }
}

/* START - contact overlay theme*/
#modal-global-contact-us div.input-container {

    input.lp-input,
    textarea {
        &:-webkit-autofill {
            &:focus {
                color: #fff;
            }

            -webkit-text-fill-color: #fff;
        }

        color: #fff;
        border-color: rgba(255, 255, 255, 0.25);

        &:focus {
            border-color: rgba(255, 255, 255, 0.75);
        }
    }

    span.input-icon {
        filter: invert(0);
    }
}

/* END - contact overlay theme*/

/*START - contact overlay border*/
#modal-global-contact-us .company {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/*END*/

/* START - fix x button in contact overlay*/
#modal-global-contact-us {
    div.contact-form {
        &__container {
            width: 100%;
        }

        &__close.close {
            color: #000;
            opacity: 1;

            @media(max-width: 768px) {
                color: #fff;
            }
        }
    }
}

/* END - fix x button in contact overlay*/

/*START - fix link upon hover */
#modal-global-contact-us .company .lp-a a {
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;

    &:hover {
        color: #8A7E70 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #8A7E70 !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/

/*START - Privacy Policy link hover contact disclaimer*/
.contact-form {
    .lp-disclaimer {
        a {
            text-decoration: none !important;
            position: relative;
            display: inline-block;
            vertical-align: top;
            opacity: 1;
            color: #fff !important;

            &:after,
            &:before {
                content: "";
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                box-sizing: border-box;
                outline: none;
                transition: 0.4s;
            }

            &:before {
                background-color: rgba(255, 255, 255, 0.25);
                width: 100%;
            }

            &:after {
                width: 0%;
                background-color: #fff;
                transition: 0.4s;
            }

            &:hover {
                text-decoration: none !important;
                color: #fff !important;

                &:after {
                    width: 100%;
                }
            }
        }
    }
}

/*END*/