#modal-global-contact-us {
    @media only screen and (max-width: 768px) {
        /* Use only if using dark background */
        .contact-form__close.close {
            color: #FFF;
            opacity: 1;
        }
    }
    
    .socials {
        .lp-socials {
            display: flex;
            flex-direction: row;
            gap: 16px;
            
            li {
                padding: 0px !important;
            }
        }
    }
}