/*Start - Update font size of header navigation*/
nav#global-navbar {
    .lp-container {
        max-width: 1600px;
    }
    
    .navigation {
        .navigation__link {
            white-space: pre;
            max-width: fit-content;
            font-size: 19px;
        }
    }
}

/*End*/

/*Start - Fix dropdown containers of header navigation*/
nav#global-navbar {
    .header__right ul.navigation {
        .navigation__item.sub-nav-container {
            a.sub-nav__link {
                margin-left: 20px;
            }
        }
    }
}

/*End*/

/* START - Center socials on mobile */
#global-footer .lp-socials {
    @media (max-width: 768px) {
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 280px;
        gap: 14px;
        justify-content: center;
        
        li {
            margin-right: 0px;
            margin-bottom: 0px;
        }
    }
}

#global-sidemenu {
    .sidemenu__socials {
        margin-left: 0px !important;
        
        .lp-socials {
            justify-content: center;
            gap: 14px;
            max-width: 280px;
            margin: auto;
            
            li {
                margin-right: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

#modal-global-contact-us .lp-socials {
    gap: 14px;
    justify-content: center;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    
    li {
        margin-right: 0px !important;
    }
}

/* END */