/*START - Header Nav Links Fix compress*/
nav#global-navbar {
    .lp-container.header__container {
        max-width: 1400px !important;
    }
}

nav#global-navbar .navigation__item.navigation__item {
    padding-left: 0px;
}

nav#global-navbar {
    .navigation {
        .navigation__link {
            white-space: pre;
            max-width: fit-content;
            font-size: 16px;
        }
    }
}

/*END*/

/* Start - Default navigation bar theme */
#global-navbar:not(.scroll) {

    /*Header theme for full bleed image opening*/
    .header.theme-light,
    .header.theme-auto.theme-light {
        .header__hamburger svg {
            circle {
                fill: #fff;
            }

            rect {
                fill: #08202c;
            }
        }

        /*Navigation Links theme*/
        .navigation__link {
            color: #fff;

            &:after {
                background: #fff !important;
            }
        }

        /*Theme dropdown arrow*/
        .navigation__item {
            &:after {
                border-color: #fff !important;
            }
        }
    }

    /*Header theme for non-fullbleed image opening*/
    .header.theme-auto,
    .header:not(.theme-auto):not(.theme-dark):not(.theme-light) {
        .header__hamburger svg {
            circle {
                fill: #08202c;
            }

            rect {
                fill: #fff;
            }
        }

        /*Navigation Links theme*/
        .navigation__link {
            color: #000;

            &:after {
                background: #000 !important;
            }
        }

        /*Theme dropdown arrow*/
        .navigation__item {
            &:after {
                border-color: #000 !important;
            }
        }
    }
}

/* End */

/* Start - Scrolled navigation bar theme */
#global-navbar:is(.scroll) {
    .header {
        background: #08202c;

        .header__hamburger svg {
            circle {
                fill: #fff;
            }

            rect {
                fill: #08202c;
            }
        }

        /*Navigation Links theme*/
        .navigation__link {
            color: #fff;

            &:after {
                background: #fff !important;
            }
        }

        /*Theme dropdown arrow*/
        .navigation__item {
            &:after {
                border-color: #fff !important;
            }
        }
    }

    /* Set which logo to be displayed on scrolled */
    .logo__img.light {
        display: block;
    }

    .logo__img.dark {
        display: none;
    }

    .logo__img.light {
        display: block;
    }

    .logo__img.dark {
        display: none;
    }
}

/* End */

/* Start - Theme navigation dropdown menu */
#global-navbar {

    /*Sub menu theme*/
    .sub-nav {
        .sub-nav__link {
            background: #fff;
            color: #000;
            max-width: 300px !important;

            &:hover {
                background: #08202c;
                color: #fff;
            }
        }
    }
}

/*End*/

/*START - Logo Resize*/
nav#global-navbar .logo {
    max-width: 200px;

    @media (max-width: 768px) {
        width: 200px;
    }
}

/*END*/