/*START - fix IG padding when active*/
div.lp-container {
    padding-bottom: 296px;
}

@media only screen and (max-width: 768px) {
    .lp-vertical-paddings {
        padding-top: 51px !important;
        padding-bottom: 31px !important;
    }
}

h3,
.lp-h3 {
    font-size: 25px !important;
}

/*END*/

div.lp-container {
    svg:not(:root) {
        path {
            fill: #fff !important;
        }
    }
}