/*START - mobile contact button theme (solid) */
body>div.mobile-contact-wrapper .mobile-contact a i {
    color: #fff !important;
}

body>div.mobile-contact-wrapper .mobile-contact a {
    background-color: #7C7A61 !important;
    border: 2px solid #fff !important;
}

body>div.mobile-contact-wrapper .mobile-contact.dark .item {
    background-color: #7C7A61 !important;
    color: #fff;
    border: 2px solid #fff !important;
}

/* END */