/*START - mobile contact button theme (solid) */
body>div.mobile-contact-wrapper .mobile-contact a i {
    color: #fff !important;
}
body>div.mobile-contact-wrapper .mobile-contact a {
    background-color: #FFC8C3 !important;
    border: 2px solid #FFC8C3 !important;
}
body>div.mobile-contact-wrapper .mobile-contact.dark .item {
    background-color: #FFC8C3 !important;
    color: #fff;
}
/* END */