/*START - Fix paddings */
.blog-list {
    padding-top: 96px !important;
    padding-bottom: 96px !important;

    @media only screen and (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*END*/

/*start - blog card theming*/
.blog-list__container .blog-list__item {
    background-color: #fff !important;
    color: #000;
}

div.blog-list__item-content h4:after {
    background-color: rgba(0, 0, 0, 0.1);
}

/*end*/

/*START - blog grid link underline*/
span:not(.date):not(.label):not(.featured-properties__label) {
    position: relative !important;

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #C70C0C !important;
    }

    &:hover:after {
        width: 100% !important;
    }

    &:hover {
        color: #C70C0C;
    }
}

/*END - Blog Grid link underline*/

/* Start - Fix dimensions */
.blog-list__container {
    row-gap: 34px;
    
    .blog-list__item {
        margin-bottom: 0px;
    }
}

/* End */