/*Start - Fix padding*/
.agent-info {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    .container {
        max-width: 1400px !important;
    }
}

/*End*/

/*START - contact link underline */
a:not(.lp-socials__link) {
    font-weight: 400;
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;

    &:hover {
        color: #1E1E1E !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #1E1E1E !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/

/* START - Center socials on mobile */
.hide-desktop-socials {
    .lp-socials {
        padding-right: 0px !important;
        gap: 14px;
        justify-content: center;
        margin-bottom: 0px;

        li {
            margin: 0px !important;
            width: auto !important;
        }
    }
}

/* END */