/*START - fix padding*/
div.agent-properties {
    padding-top: 96px;
    padding-bottom: 96px;

    @media only screen and (max-width: 768px) {
        padding-top: 53px;
        padding-bottom: 64px;
    }
}

/*END*/

/*START - agent properties change card theme color*/
.redesign {
    span.label {
        background: #C70C0C;
        color: #fff;
    }

    a.agent-properties-item {
        background-color: #fff;

        .agent-properties-item-text {
            background-color: #fff;

            p,
            h4,
            h5 {
                color: #000;
            }
        }
    }
}

/*END - Change Card Theme Color*/

.agent-properties-headline {
    margin-bottom: 20px !important;
}