/*START - fix paddings */
div.team-grid {
    padding-bottom: 46px;

    @media (max-width: 768px) {
        padding-bottom: 30px;
    }
}

/*END*/

/*START - border color when hover*/
.team-member__hover {
    border-color: #2C6A8E;
}

/*END - border color*/

/* Start - Uppercase agent names */
.team-member__name {
    text-transform: uppercase;
}

/* End */

/* Start - Remove unnecessary dimensions */
.team-grid__wrapper {
    gap: 50px;
    justify-content: center;

    @media only screen and (max-width: 768px) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .team-member__container {
        margin: 0px !important;
        padding-left: 0px;
        padding-right: 0px;
        width: 100% !important;
        max-width: calc(33.33% - 50px);
        
        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
    }
}

/* End */