/* Start - Theme the pagination buttons */
.related-blog-articles_slider {
    .slick-arrow {
        background: #C70C0C;
        border: 2px solid #C70C0C !important;
        
        &:before {
            opacity: 1;
            color: #fff;
        }
        
        &:hover {
            background: transparent !important;
            border-color: #C70C0C;
            
            &:before {
                color: #C70C0C;
            }
        }
    }
}

/* End */