/* Start - Theme the pagination buttons */
.related-blog-articles_slider {
    .slick-arrow {
        background: #9E9796;
        border: 2px solid #9E9796 !important;
        
        &:before {
            opacity: 1;
            color: #fff;
        }
        
        &:hover {
            background: transparent !important;
            border-color: #9E9796;
            
            &:before {
                color: #9E9796;
            }
        }
    }
}

/* End */