/* Start - Theme the pagination buttons */
.related-blog-articles_slider {
    .slick-arrow {
        background: #DEA2A2;
        border: 2px solid #DEA2A2 !important;
        
        &:before {
            opacity: 1;
            color: #fff;
        }
        
        &:hover {
            background: transparent !important;
            border-color: #DEA2A2;
            
            &:before {
                color: #DEA2A2;
            }
        }
    }
}

/* End */