/*START - fix padding*/
div.lp-vertical-paddings {
    padding-top: 96px;
    padding-bottom: 32px;

    @media (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 20px;
    }
}

/*END*/

/*START - read more link*/
.link {
    text-transform: uppercase;
}

/*END*/