/*START - decrease bottom padding */
div.section {
    padding-bottom: 43px;

    @media (max-width: 1024px) {
        padding-bottom: 35px;
    }
}

.tab-section__content {
    padding-bottom: 0px !important;
}

/*END*/

/*START - 1 line for element title*/
.lp-container .title {
    max-width: 100% !important;

    h2 {
        max-width: 100% !important;
    }
}

@media (max-width: 768px) {
    .lp-container .title {
        max-width: 100% !important;
    }
}

/*END- 1 line for element title*/

/*START - change button theme*/
div.section div.lp-container div.nav-tab span.nav-tab__tab {
    color: #A49B8E !important;
    background-color: transparent !important;
    border-color: #A49B8E !important;

    &.active,
    &:hover {
        color: #fff !important;
        background-color: #A49B8E !important;
        border-color: #A49B8E !important;
    }
}

/*END - change button theme*/

/*START - fixed popup info */
p.overview-item__name--hint {
    &:after {
        background-color: #A49B8E !important;
    }

    span.hint {
        background-color: #A49B8E;
        color: #fff;

        &:after {
            background-color: #A49B8E;
        }
    }
}

/*END- fixed popup info*/

/*START - border theming*/
.tab-section:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.tab .overview-item {
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;

    @media(max-width: 768px) {
        border-right: 0 solid rgba(0, 0, 0, 0.1) !important;
    }
}

.description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

/*END*/

/*START - population bar theming*/
div.population-age__bar {
    background-color: rgba(0, 0, 0, 0.05);
}

.population-age__hint p {
    color: #000 !important;
}

/*END*/