/*Start - Set paddings*/
.custom-slider.lp-vertical-paddings {
    padding-top: 144px;
    padding-bottom: 144px;
    
    @media only screen and (max-width: 768px) {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}
/*End*/

/*Start - Fix the title dimensions for mobile*/
.top-part {
    @media only screen and (max-width: 768px) {
        margin-bottom: 0px !important;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/*End*/

/*Start - Theme the circle on the steps*/
.scene-top {
    .scene-count {
        background: #F51010;
        color: #FFFFFF;
        border: none !important;
    }
}

/*End*/

/*Start - Theme pagination*/
.arrows,
.mobile-arrows {
    margin-left: 15px;
    margin-right: 15px;
    align-content: center;
    justify-content: center;
    gap: 20px;
    
    .lp-arrow {
        margin: 0px;
        background: #fff !important;
        border-radius: 50%;
        transition: 0.4s;
        -webkit-tap-highlight-color: transparent;
        
        &:before {
            border: 1px solid transparent !important;
        }
        
        &:after {
            background-color: #F51010 !important;
        }
        
        &:hover {
            background: transparent !important;
            
            &:before {
                border-color: #fff !important;
            }
            
            &:after {
                background-color: #fff !important;
            }
        }
    }
}

/*End*/