/*START - updating step two hover effects */
.custom-select .lp-input--dark+.custom-select-menu .custom-select-content {
    color: #000;
    background-color: #fff;
}

.custom-select .lp-input--dark+.custom-select-menu .custom-select-item:hover {
    background-color: #FAA755;
    color: #fff;
}

/*END*/

/*START - home val steps(Local)*/
div.section {
    ol.steps-nav {
        .active {
            background-color: #FAA755;
            opacity: 1;
        }

        li {
            background-color: #FAA755;
            color: #fff;
            opacity: 0.5;
        }
    }
}

/*END - home val steps(Local)*/

/*START - form padding */
div.section.section--full-height {
    padding-top: 124px;

    .home-valuation__step {
        max-width: 600px;

        h3.lp-h3 {
            font-size: 30px;
        }
    }
}

/*ENd - form padding */

.input-container {
    .lp-input {
        border-color: rgba(255, 255, 255, 0.25);
        color: #fff;

        &:focus {
            border-color: rgba(255, 255, 255, 1);
        }
    }

    .custom-select-toggle {
        color: #fff;
    }

    .lp-input:-webkit-autofill,
    .lp-input--dark:-webkit-autofill {
        -webkit-text-fill-color: #fff;
    }
    
    .input-icon {
        filter: invert(1);
    }
}

.section {
    .box {
        justify-content: center;
    }
}