/*Start - Update Link theme*/
.lp-link {
    position: relative !important;
    color: #000 !important;
    text-decoration: none !important;

    &:hover {
        color: #101010 !important;
        opacity: 1 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #101010 !important;
    }

    &:hover:after {
        width: 100% !important;
    }

    @media only screen and (max-width: 1280px) {
        overflow-wrap: anywhere;
        text-decoration: underline !important;
        white-space: normal !important;

        &:before {
            background-color: transparent;
            width: 0% !important;
        }

        &:after {
            background-color: transparent;
        }

        &:hover:after {
            width: 0% !important;
        }
    }
}

/*End*/

/*START - mortgage calcu arrow -*/
@media (max-width: 768px) {
    .results__expand svg {
        stroke: #fff !important;
    }
}

/*mortgage arrow icon theme mobile view */
@media (max-width: 768px) {
    div.results__expand {
        background-color: #101010;
    }
}

/*END*/

/*START - make title in one line*/
.mg-calc__title {
    white-space: pre;

    @media (max-width: 767px) {
        white-space: unset;
    }
}

.mg-calc__col {
    max-width: 55% !important;

    @media (max-width: 767px) {
        max-width: unset !important;
    }
}

/*END*/

/*center title and desc in mobile view*/
@media (max-width: 767px) {
    .mg-calc__title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .mg-calc__description {
        text-align: center;
    }
}

/*END*/

/*START - fix reset link */
.calc__footer .lp-link {
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
        color: #000 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #000 !important;
    }

    &:hover:after {
        width: 100% !important;
    }

    @media only screen and (max-width: 768px) {
        text-decoration: underline;

        &:before,
        &:after {
            display: none;
        }
    }
}

/*END*/

/*START - Mortgage Calc Dropdown*/
.lp-input--light {
    color: #000;
    border-color: rgba(0, 0, 0, 0.25);

    &:after {
        border-color: #000;
    }

    &:hover {
        color: #000;

        &:after {
            border-color: #000;
        }
    }

    &:focus {
        border-color: #000;
    }
}

.custom-select-item {
    color: #000 !important;
    background-color: #fff !important;

    &:hover {
        color: #fff !important;
        background-color: #101010 !important;
    }
}

/*END*/