/*START - slick arrow theme*/
div.arrows .lp-arrow.slick-arrow {
    border: solid 2px #fff;
    background-color: transparent;

    &:before {
        border-color: #fff;
    }

    &:hover {
        background-color: #fff;
        border: solid 2px #fff;

        &:before {
            border-color: #5F8480;
        }
    }
}

@media (max-width: 768px) {
    div.arrows .lp-arrow.slick-arrow {
        border: solid 2px #5F8480;
        background-color: transparent;

        &:before {
            border-color: #5F8480;
        }

        &:hover {
            background-color: #5F8480;
            border: solid 2px #5F8480;

            &:before {
                border-color: #fff;
            }
        }
    }
}

/*END - slick arrow theme*/