/*START - pop up link underline */
a.link {
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;
    border-bottom: none;

    &:hover {
        color: #5F8480 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #5F8480 !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END - link underline*/

@media only screen and (max-width: 768px) {
    .lp-title-group {
        .lp-h2,
        .description-text {
            text-align: center;
        }
    }
}