/*START - slick arrow theme*/
div.arrows .lp-arrow.slick-arrow {
    background-color: #fff;
    border: solid 2px #fff;

    &:before {
        border-color: #435352;
    }

    &:hover {
        border: solid 2px #fff;
        background-color: transparent;

        &:before {
            border-color: #fff;
        }
    }
}

@media (max-width: 768px) {
    div.arrows .lp-arrow.slick-arrow {
        background-color: #435352;
        border: solid 2px #435352;

        &:before {
            border-color: #fff;
        }

        &:hover {
            border: solid 2px #435352;
            background-color: transparent;

            &:before {
                border-color: #435352;
            }
        }
    }
}

/*END - slick arrow theme*/