/*START - fix play button hover state - WB*/
.lp-play:after {
    border-color: transparent transparent transparent #185770;
}

.lp-play:hover:before {
    background-color: #185770 !important;
}

.lp-play:hover:after {
    border-color: transparent transparent transparent #fff;
}

/*END - fix play button hover state*/