/*START - fix paddings */
div.lp-vertical-paddings {
    padding-top: 88px;
    padding-bottom: 76px;

    @media (max-width: 1024px) {
        padding-bottom: 64px;
        padding-top: 64px;
    }
}

/* END */

/*START - dropdown theme */
div.lp-container {
    div.custom-select-content {
        background: #fff !important;

        button.custom-select-item {
            color: #000 !important;

            &:hover {
                color: #fff !important;
                background: #D8CDBA !important;
            }
        }
    }

    .lp-input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.lp-input-group--search .lp-input {
    color: #000 !important;
}

/*END - dropdown theme*/

/*START - range input theme color*/
div.lp-container div.slider-content {

    .irs--round .irs-handle.state_hover,
    .irs--round .irs-handle {
        background-color: #fff;
        border: 1px solid #000;

        i {
            background: #000;
        }

        &:hover {
            background-color: #D8CDBA;
            border: 1px solid #D8CDBA;

            i {
                background: #fff;
            }

        }
    }
}

/*input*/
.lp-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.range-slider .irs-from,
.range-slider .irs-to,
.range-slider .irs-single {
    color: rgba(0, 0, 0, 0.5) !important;
}

.range-slider .irs--round .irs-bar {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

/*END - range input theme color*/

/*START - change filter button*/
div#filtersModal button#filtersSubmit {
    border: 2px solid #D8CDBA;
    background: #D8CDBA !important;
    color: #fff;

    &:hover {
        border: 2px solid #D8CDBA;
        background: transparent !important;
        color: #D8CDBA;
    }
}

/*END - change filter button*/

/*START - MLS properties change card theme*/
div.properties-grid.lp-vertical-paddings div.lp-container {
    div.properties-grid__item a.lp-listing-card.listing-card .listing-card__info {
        background-color: #fef9eb !important;
        color: #000;

        .listing-card__logo {
            margin-bottom: 10px;
        }
    }

    div.listing-card__status>div {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        background-color: #D8CDBA !important;
    }
}

/*END - MLS properties change card theme*/