/*START - adjust paddings*/
div.f-properties .top-bar {
    padding-top: 96px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        padding-top: 64px;
        margin-bottom: 64px;
    }
}

div.basic-margins {
    margin-bottom: 88px;

    @media (max-width: 768px) {
        margin-bottom: 64px;
    }
}

@media(max-width: 768px) {
    h2 {
        text-align: center;
    }
}

/*END*/

/*START - change slick arrow theme */
div.slick-arrow span.arrow-in-circle {
    border: 2px solid #DFD6C6;
    background-color: #DFD6C6;

    &:after {
        border: solid #fff;
        border-width: 0 2px 2px 0;
    }

    &:hover {
        border: 2px solid #DFD6C6;
        background-color: #DFD6C6;

        &:after {
            border: solid #fff;
            border-width: 0 2px 2px 0;
        }
    }
}

/*END - change slick arrow theme*/

/*START - add card theme */
a.f-properties__item {
    background-color: #f5f5f5;
    padding-bottom: 15px;
    margin-bottom: 80px;

    h3,
    h4,
    h5 {
        color: #000;
    }
}

/*END- add card theme*/