/*START - adjust paddings*/
div.f-neighborhoods .top-bar {
    padding-top: 96px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        padding-top: 64px;
        margin-bottom: 64px;
    }
}

div.basic-margins {
    margin-bottom: 96px;

    @media (max-width: 768px) {
        margin-bottom: 64px;
    }
}

@media (max-width: 769px) {
    div.f-neighborhoods__item-content {
        padding: 24px 24px 64px;
    }
}

@media(max-width: 768px) {
    h2 {
        text-align: center;
    }
}

/*END*/

/*START - mobile view button theme*/
@media only screen and (max-width: 769px) {
    div.basic-margins div.f-neighborhoods__item-content span.btn {
        border-color: #DFD6C6 !important;
        background-color: #DFD6C6 !important;
        color: #fff !important;

        &:hover {
            border-color: #DFD6C6 !important;
            background-color: #DFD6C6 !important;
            color: #fff !important;
        }
    }
}

/*END - mobile view button theme*/