/*START - fix paddings */
div.property-agent-cta {
    .property-agent-cta-item {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/*END*/

/*START - contact link underline */
a {
    position: relative !important;
    color: #000 !important;
    transition: 0.4s;
    opacity: 1 !important;
    text-decoration: none;

    &:hover {
        color: #7C7A61 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #7C7A61 !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/

/*Start - Fix image and button margin*/
.property-agent-cta-avatar {
    align-self: flex-start !important;

    @media only screen and (max-width: 768px) {
        align-self: center !important;
        width: 100% !important;
        height: auto !important;
        aspect-ratio: 1/1 !important;
    }
}

button {
    margin-bottom: 0px !important;
}

/*End*/