/*START - fix paddings */
div.property-agent-cta {
    .property-agent-cta-item {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

/*END*/

/*START - contact link underline */
a {
    position: relative !important;
    color: #fff !important;
    transition: 0.4s;
    opacity: 1 !important;

    &:hover {
        color: #fff !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #fff !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/

/*Start - Fix image and button margin*/
.property-agent-cta-avatar {
    align-self: flex-start !important;
}

button {
    margin-bottom: 0px !important;
}

/*End*/