/*Start - Change tag color*/
div.property-intro-2 span.label {
    background-color: #a49b8e;
    color: #fff;
}

/*END - Change tag color*/

/*START - pagination color*/
.property-intro-2-content .property-intro-2-nav-slider button.slick-arrow {
    background-color: transparent;
    border-color: #fff;
    color: #fff !important;

    &:hover {
        background-color: #fff;
        border-color: #fff;
        color: #a49b8e !important;
    }
}

/*END - pagination color*/

/*Start - Theme border line*/
h5:before {
   background-color: #a49b8e !important; 
}

/*End*/