/*Start - Fix image and button margin*/
@media only screen and (max-width: 560px) {
    .property-agent-cta-avatar {
        aspect-ratio: 1/1;
        width: 100% !important;
        height: auto !important;
    }
}

button {
    margin-bottom: 0px !important;
}

/*End*/