/* Start - Fix dimensions */
.property-description {
    padding-top: 0px !important;
    padding-bottom: 96px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    @media only screen and (max-width: 768px) {
        padding-bottom: 64px !important;
    }
    
    .hidden {
        display: none;
    }

    .container {
        column-gap: 90px;
        padding-left: 50px !important;
        padding-right: 50px !important;
        max-width: 1400px !important;
        
        @media only screen and (max-width: 768px) {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
        
        .property-description__main {
            padding-right: 0px !important;
        }
        
        .property-description__amenities {
            display: flex;
            flex-direction: column;
            gap: 28px;
            
            @media only screen and (max-width: 768px) {
                flex-direction: row;
            }
            
            .property-description__amenities__item {
                margin-bottom: 0px !important;
                margin-right: 0px !important;
                
                @media only screen and (max-width: 768px) {
                    width: auto;
                    flex: 1;
                    max-width: 50%;
                    margin-top: 0px !important;
                    margin-bottom: 0px !important;
                    padding-right: 0px !important;
                }
            }
        }
    }
}

/* End */

div.property-description__amenities {
    border: 0 solid rgba(0, 0, 0, 0.1) !important;
    border-left-width: 1px !important;

    /*Hide the border lines in mobile*/
    @media only screen and (max-width: 768px) {
        border: none !important;
    }
}

/*END*/