/*Start - Change tag color*/
div.property-intro-2 span.label {
    background-color: #C5A95C;
    color: #fff;
}

/*END - Change tag color*/

/*START - pagination color*/
.property-intro-2-content .property-intro-2-nav-slider button.slick-arrow {
    background-color: #fff;
    border-color: #fff;
    color: #000 !important;

    &:hover {
        background-color: transparent;
        border-color: #fff;
        color: #fff !important;
    }
}

/*END - pagination color*/

/*Start - Theme border line*/
h5:before {
   background-color: rgba(0, 0, 0, 0.1) !important; 
}

/*End*/