/*Start - Change tag color*/
div.property-intro-2 span.label {
    background-color: #001A72;
    color: #000;
}

/*END - Change tag color*/

/*START - pagination color*/
.property-intro-2-content .property-intro-2-nav-slider button.slick-arrow {
    background-color: #fff;
    border-color: #fff;
    color: #001A72 !important;

    &:hover {
        background-color: transparent;
        border-color: #fff;
        color: #fff !important;
    }
}

/*END - pagination color*/

/*Start - Theme border line*/
h5:before {
   background-color: rgba(255, 255, 255, 0.25) !important; 
}

/*End*/

.arrow-down-icon svg path {
    fill: rgba(255, 255, 255, 0.5);
}