/*START - fix padding*/
.testimonials {
    padding-top: 96px!important;
    padding-bottom: 93px!important;
    @media (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}
/*END*/

/*START - change pagination colors*/
div.testimonials.redesign .custom-arrows--dark.arrows button.slick-arrow{
    background-color: transparent;
    border-color: #2a29a6;
    &:before {
        color: #2a29a6;
        opacity: 1;
    }
    &:hover {
        background-color: #2a29a6;
        border-color: #2a29a6;
        &:before {
            color: #fff;
        }
    }
}

.testimonials .userpic img {
    background-color: #fff;
}
/*END  - change pagination colors*/