/*START - Padding*/
div.f-properties {
    padding-top: 96px;
    padding-bottom: 96px;

    @media only screen and (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

/*END*/

/*START - slick arrow*/
.lp-arrow {
    border: solid 2px #092F76;
    background-color: #092F76;

    &:before {
        border-color: #fff;
    }

    &:hover {
        border: solid 2px #092F76;
        background-color: transparent;

        &::before {
            border-color: #092F76;
        }
    }
}

.f-properties__arrows-container .lp-arrow--next {
    margin-left: 10px !important;
}

/*END*/

/*START - reduce font size in mobile view*/
@media (max-width: 768px) {
    .f-properties__title {
        font-size: 32px !important;
    }
}

/*END*/

/*START - button padding */
@media (max-width: 768px) {
    .btn-all {
        min-width: 325px;
    }
}

/*END*/