/*START- fix padding */
div.f-video {
    padding-top: 96px;
    padding-bottom: 96px;

    @media (max-width: 992px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 768px) {
    .f-video-poster {
        margin-top: 25px !important;
    }
}

@media(max-width: 768px) {
    h2 {
        font-size: 32px !important;
    }
}

/*END*/

/*START - add play button and title - theming */
h2 {
    color: #000;

    &.lp-h2 {
        color: #000;
    }
}

.lp-play--light {
    border-color: #C70C0C;
    color: #fff;
    background-color: #C70C0C;

    &:hover {
        border-color: #C70C0C;
        color: #fff;
        background-color: #C70C0C;
    }
}

/*END - add play button and title - theming*/

.section-video__btn-wrap {
    display: none !important;
}

.play-icon {
    &:before {
        color: #C70C0C;
    }
}