/*START - fix padding*/
div.featured-properties-section {
    padding-top: 96px;
    padding-bottom: 84px;

    @media (max-width: 768px) {
        padding-bottom: 64px;
        padding-top: 64px;
    }
}

@media (max-width: 767px) {
    div.featured-properties-section .btn {
        width: 100%;
    }
}

/* END */

/*START - change prev and next link color */
div.redesign.featured-properties-section ul.slick-links-nav {
    span.spacer {
        background-color: #000;
    }

    li span.link {
        color: #fff;

        &:hover:not(.slick-disabled) {
            color: #C5A95C;
        }

        &:before {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }

        &:after {
            background-color: #C5A95C !important;
        }
        
        &:hover:after {
            width: 100%;
        }
    }
}

/*END - Change link colors */

/*START - card property theme*/
div.redesign.featured-properties-section ul.featured-properties {
    div.slick-track li.featured-properties__item-cover {
        span.featured-properties__label {
            background: #C5A95C !important;
            color: #fff;
        }
    }

    .featured-properties__item {
        background-color: #fef9eb !important;
    }

    .featured-properties__text {
        padding-top: 35px;
        padding-bottom: 35px;
        background-color: #fef9eb !important;

        p,
        h4,
        h5 {
            color: #000 !important;
        }
    }
}

@media only screen and (max-width:1024px) {
    div.featured-properties-button-holder {
        margin-top: 20px;
    }
}

/*END - Card property theme*/

.featured-properties-header {
    margin-bottom: 20px !important;
}