/*START - fix padding*/
.testimonials {
    padding-top: 96px !important;
    padding-bottom: 93px !important;

    @media (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*END*/

/*START - change pagination colors*/
div.testimonials.redesign .custom-arrows--dark.arrows button.slick-arrow {
    background-color: #1E1E1E;
    border-color: #1E1E1E;

    &:before {
        color: #fff;
        opacity: 1;
    }

    &:hover {
        background-color: transparent;
        border-color: #1E1E1E;

        &:before {
            color: #1E1E1E;
        }
    }
}

/*END  - change pagination colors*/