/*Start - Theme homepage search theme*/
.search-lease-tabs {
    .search-lease-tab:not(.active) {
        background-color: #a49b8e !important;
    }
}

.search-results {
    background-color: rgba(164, 155, 142, 0.8) !important;
    
    a {
        color: rgba(255, 255, 255, 0.75) !important;
        
        &:hover {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}

/*End*/