/*START - newsletter padding*/
div.lp-title-group {
    max-width: 1400px;
}

.lp-title-group .lp-h1,
.lp-title-group .lp-h2,
.lp-title-group .lp-h3 {
    margin: 0 0 24px;
}

@media (max-width: 768px) {
    div.newsletter-signup {
        min-height: 60vh;
    }
}

/*input placeholder color*/
input.lp-input--light::placeholder {
    opacity: 1;
}

/* END */

/*START - add theming*/
input.lp-input--light {
    color: #000 !important;
    border-color: rgba(0, 0, 0, 0.25);

    &::placeholder {
        color: #000 !important;
    }

    &:-webkit-autofill {
        border: 1px solid rgba(0, 0, 0, 0.25);
        -webkit-text-fill-color: #000 !important;
    }
}

/*ENd - add theming*/