/*START - newsletter padding*/
div.lp-title-group {
    max-width: 1400px;
}

.lp-title-group .lp-h1,
.lp-title-group .lp-h2,
.lp-title-group .lp-h3 {
    margin: 0 0 24px;
}

@media (max-width: 768px) {
    div.newsletter-signup {
        min-height: 60vh;
    }
}

/*input placeholder color*/
input.lp-input--light::placeholder {
    opacity: 1;
}

/* END */

/*START - add theming*/
input.lp-input--light {
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0.25);
    
    &:focus {
        border-color: rgba(255, 255, 255, 1);
    }

    &::placeholder {
        color: #fff !important;
    }

    &:-webkit-autofill {
        border: 1px solid rgba(255, 255, 255, 0.25);
        -webkit-text-fill-color: #fff !important;
    }
}

/*ENd - add theming*/

/*Start - Theme disclaimer link*/
.lp-disclaimer a {
    position: relative !important;
    color: #fff !important;
    transition: 0.4s;
    opacity: 1 !important;
    text-underline-offset: 4px !important;
    text-decoration: none !important;

    &:hover {
        color: #ffd140 !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
        opacity: 1;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #ffd140 !important;
    }

    &:hover:after {
        width: 100% !important;
    }

    @media only screen and (max-width: 768px) {
        text-decoration: underline !important;
        
        &:before,
        &:after {
            display: none;
        }
    }
}

/*End*/