/*Start - Fix padding*/
.agent-info {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
    
    @media only screen and (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*End*/

/*START - contact link underline */
.details-list a {
    font-weight: 400;
    position: relative !important;
    color: #fff !important;
    transition: 0.4s;
    opacity: 1 !important;

    &:hover {
        color: #fff !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.25) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #fff !important;
    }

    &:hover:after {
        width: 100% !important;
    }
}

/*END*/