/*START - fix paddings */
.custom-form {
    padding-top: 96px !important;
    padding-bottom: 96px !important;

    @media (max-width: 767px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*END*/

/*START - contact form labels - */
.lp-label {
    text-transform: uppercase !important;
}

/*END*/

/*START - adjust title width - */
div.custom-form__header {
    max-width: 1500px;
}

/*END*/

/*START - contain photo*/
.custom-form__img-col {
    margin-bottom: 0 !important;
}

@media (max-width: 767px) {
    .custom-form__header {
        margin-bottom: 0 !important;
    }
}

div.custom-form__img-block img {
    object-fit: contain;
    background-color: #000;
}

p {
    margin-bottom: 0 !important;
}

/*END*/

/*Start - Theme disclaimer link*/
.lp-disclaimer a {
    position: relative !important;
    color: #fff !important;
    transition: 0.4s;
    opacity: 1 !important;
    text-underline-offset: 4px !important;
    text-decoration: none !important;

    &:hover {
        color: #fff !important;
    }

    &:before,
    &:after {
        transition: 0.4s;
        text-decoration: none !important;
        line-height: 1;
        content: "" "";
        height: 1px;
        position: absolute !important;
        bottom: 0;
        left: 0;
    }

    &:before {
        width: 100% !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
    }

    &:after {
        width: 0% !important;
        background-color: #fff !important;
    }

    &:hover:after {
        width: 100% !important;
    }

    @media only screen and (max-width: 768px) {
        text-decoration: underline !important;
        
        &:before,
        &:after {
            display: none;
        }
    }
}

/*End*/

.lp-input {
    border-color: rgba(255, 255, 255, 0.25);

    &:focus {
        border-color: rgba(255, 255, 255, 1);
    }
}