/*START - change nav background color*/
nav#global-navbar header.header {
    .navigation__item.sub-nav-container .sub-nav {
        background-color: #fff;

        ul li .nav-link {
            color: #000 !important;

            &:hover {
                color: #fff !important;
                background-color: #E97A2B;
            }
        }
    }

    div.header__container {
        border-bottom: 2px solid rgba(255, 255, 255, 0.49);
    }

    &.scroll {
        .navigation__link:after {
            background-color: #fff;
        }

        background-color:#151419 !important;
        color: #fff !important;

        button.hamburger {

            &:before,
            &:after {
                border-color: #E97A2B;
            }
        }

        div.header__container {
            border-bottom: 2px solid #E97A2B;
        }
    }
}

/*END - change nav background color*/

/*START - adjust width of submenu */
nav .navigation__item.sub-nav-container .sub-nav {
    width: fit-content;
    max-width: 400px !important;

    a {
        white-space: nowrap;
    }
}

/*END*/