/* Start - Theme license pill container */
.license-wrapper {
    border-color: #185770;
    color: #185770;
}

/* End */

/* Start - Theme the CTA link with arrow */
.learn-more {
    color: #000;

    &:after {
        background-color: #185770;
    }

    &:before {
        background-color: #fff;
    }

    &:hover {
        &:after {
            background-color: transparent;
            border: 1px solid #185770;
        }

        &:before {
            background-color: #185770;
        }
    }
}

/* End */

/* Start - Theme contact info links */
.contact-details {
    a.info.bf-s {
        color: #000 !important;

        &:before {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }

        &:after {
            background-color: #185770 !important;
        }

        &:hover {
            color: #185770 !important;
        }
    }
}

/* End */

/* Start - Remove unusual social icons border */
.contact-group.socials {
    .lp-socials {
        li a {
            &:before {
                display: none;
            }
        }
    }
}

/* End */

/* Start - Fix image position issue */
.agent-info {
    .img-wrapper {
        overflow: hidden;
        min-height: unset;
    
        img {
            position: relative;
            bottom: unset;
        }
        
        &:after {
            bottom: unset;
            top: 0px;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        }
    }
}

/* End */