/*START - press grid fix paddings -*/
.div.press-grid {
    padding: 96px 0 55px;

    @media only screen and (max-width: 768px) {
        padding: 96px 0 40px;
    }
}

/*END*/

/*Start - Theme Press Grid*/
.press-grid__item-content {
    background: #F0EDE5;

    .press-grid__heading {
        color: #000 !important;
    }

    .press-grid__description {
        color: #000 !important;
    }
}

/*End*/

/* START - Fix grid dimensions */
.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.press-grid__container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 42px;
    column-gap: 30px;
    margin: 0px;

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .press-grid__item {
        width: 100%;
        margin: 0px;
    }
}

.pagination-container:not(:has(ul)) {
    display: none;
}

/* END */