/*START - slick arrow theme (local)*/
div.arrows .lp-arrow.lp-arrow--dark {
    border: solid 2px #FAA755;
    background-color: #FAA755;

    &:before {
        border-color: #fff;
    }

    &:hover {
        border: solid 2px #FAA755;
        background-color: transparent;

        &:before {
            border-color: #FAA755;
        }
    }
}

/*END - slick arrow theme(Local)*/

/*START - reduce font mobile view*/
@media (max-width: 1024px) {

    h2,
    .lp-h2 {
        font-size: 26px !important;
    }
}

/*END*/

/*START - featured blog - text color*/
.lp-h5 {
    color: #fff;
}

.bf1 {
    color: #fff;
}

.item-text {
    color: #fff;
}

/*End of blog text*/