/*START -  video gallery padding */
.video-card h6 {
    letter-spacing: 1px !important;
}

div.video-gallery {
    padding-top: 76px;
    padding-bottom: 76px;

    @media (max-width: 768px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 768px) {

    .paginationjs .paginationjs-pages li:first-child,
    .paginationjs .paginationjs-pages li:first-child>a {
        border-radius: 0 0 0 0 !important;
    }
}

@media (max-width: 768px) {
    .paginationjs .paginationjs-pages li:last-child>a {
        border-radius: 0 0 0 0 !important;
    }
}

/* END */

/*START - fix play button hover state - WB*/
@media (hover: hover) and (pointer: fine) {

    .lp-play:focus,
    .lp-play:hover {
        background-color: #fff;
        color: #fff;

        .lp-play:after {
            border-color: transparent transparent transparent #fff;
        }
    }
}

.lp-play:after {
    border-color: transparent transparent transparent #1B569B;
}

/*END - fix play button hover state*/

/* Start - Fix dimensions */
.slick-list {
    height: auto !important;
    
    .slick-slide {
        display: flex;
        flex-direction: row;
        row-gap: 50px;
        
        & > div {
            margin-bottom: 0px !important;
            flex-wrap: wrap;
            
            @media only screen and (max-width: 768px) {
                &:first-child {
                    .video-gallery__slide {
                        padding-top: 0px;
                    }
                }
                
                &:last-child {
                    .video-gallery__slide {
                        padding-bottom: 0px;
                    }
                }
            }
        }
        
        & > div:empty {
            display: none !important;
        }
        
        @media only screen and (max-width: 768px) {
            row-gap: 0px;
            flex-direction: column;
        }
    }
}

/* End */

/* Start - Fix preview dimensions */
.video-gallery__slide {
    .video-card__preview {
        aspect-ratio: 16/9;
        height: auto;
    }
    
    @media only screen and (max-width: 768px) {
        width: 100% !important;
    }
}

/* End */