/*START - slick arrow theme (local)*/
div.arrows .lp-arrow.lp-arrow--dark {
    background-color: transparent;
    border: solid 2px #FFF;

    &:before {
        border-color: #FFF;
    }

    &:hover {
        background-color: #FFF;
        border: solid 2px #FFF;

        &:before {
            border-color: #000;
        }
    }
}

/*END - slick arrow theme(Local)*/