/*START - add theming*/
div.lp-container a.item {
    p.status.bf1 {
        color: #fff !important;
        background: #FFC8C3 !important;
    }

    div.item__text {
        background-color: #f1f1f1;
        padding: 40px 30px 0px 30px;
        min-height: 175px;

        h5,
        p,
        ul {
            color: #000;
        }
    }
}

/*END - add theming*/

/*START - slick arrow theme (local)*/
div.arrows .lp-arrow.lp-arrow--dark {
    background-color: transparent;
    border: solid 2px #FFC8C3;

    &:before {
        border-color: #FFC8C3 !important;
    }

    &:hover {
        background-color: #FFC8C3;
        border: solid 2px #FFC8C3;

        &:before {
            border-color: #fff !important;
        }
    }
}

/*END - slick arrow theme(Local)*/

/*START - padding*/
.lp-vertical-paddings {
    padding-top: 96px !important;
    padding-bottom: 96px !important;

    @media only screen and (max-width: 768px) {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }
}

/*END*/