/*START - slick arrow theme (local)*/
div.arrows .lp-arrow.lp-arrow--dark {
    border: solid 2px #8A7E70;
    background-color: transparent;

    &:before {
        border-color: #8A7E70;
    }

    &:hover {
        border: solid 2px #8A7E70;
        background-color: #8A7E70;

        &:before {
            border-color: #fff;
        }
    }
}

/*END - slick arrow theme(Local)*/