/*START - slick arrow theme (local)*/
div.arrows .lp-arrow.lp-arrow--dark {
    border: solid 2px #A62125;
    background-color: #A62125;

    &:before {
        border-color: #fff;
    }

    &:hover {
        border: solid 2px #A62125;
        background-color: transparent;

        &:before {
            border-color: #A62125;
        }
    }
}

/*END - slick arrow theme(Local)*/