/*START - make title in one line*/
@media (max-width: 768px) {

    h2,
    .lp-h2 {
        font-size: 31px !important;
    }
}

/*END*/

/*START - slick arrow*/
.js-arrows .lp-arrow {
    border: solid 2px #44423E;
    background-color: #44423E;

    &:before {
        border-color: #fff;
    }

    &:hover {
        border: solid 2px #44423E;
        background-color: transparent;

        &::before {
            border-color: #44423E;
        }
    }
}

/*END*/