/* Start - Theme homepage search theme */
.search-lease-tabs {
    .search-lease-tab:not(.active) {
        background-color: #257040 !important;
        color: #fff;
    }
}

/* End */

.search-results {
    background-color: rgba(0, 0, 0, 0.8) !important;
    
    a {
        color: rgba(255, 255, 255, 0.75) !important;
        
        &:hover {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}

/*End*/

.lp-title-group {
    h1:is(:empty) {
        display: none;
    }

    h1, h2, h3, h4 {
        margin-bottom: 0px;
    }

    .opening-description {
        margin-bottom: 0px !important;
    }
}

.search-form {
    margin-top: 0px !important;
}

.opening-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    p {
        margin-bottom: 0px;
    }
}