.lp-input {
    border-color: rgba(255, 255, 255, 0.25) !important;
}

/*START - newsletter padding*/
div.lp-title-group {
    max-width: 1400px;
}

.lp-title-group .lp-h1,
.lp-title-group .lp-h2,
.lp-title-group .lp-h3 {
    margin: 0 0 24px;
}

@media (max-width: 768px) {
    div.newsletter-signup {
        min-height: 60vh;
    }

    .lp-title-group {
        padding: 0 0 !important;
    }
}

.newsletter-signup__form-item.lp-btn {
    font-weight: 600 !important;
}

/*input placeholder color*/
input.lp-input--light::placeholder {
    opacity: 0.75;
}

/* END */

/*START - Theme link underline*/
.lp-disclaimer {
    a {
        position: relative !important;
        color: #fff !important;
        transition: 0.4s;
        font-weight: 400;
        text-decoration: none !important;
        display: inline-block;

        &:hover {
            color: #fff !important;
        }

        &:before,
        &:after {
            transition: 0.4s;
            text-decoration: none !important;
            line-height: 1;
            content: "" "";
            height: 1px;
            position: absolute !important;
            bottom: 0;
            left: 0;
        }

        &:before {
            width: 100% !important;
            background-color: rgba(255, 255, 255, 0.25) !important;
        }

        &:after {
            width: 0% !important;
            background-color: #fff !important;
        }

        &:hover:after {
            width: 100% !important;
        }

        @media only screen and (max-width: 768px) {
            text-decoration: underline;

            &:before,
            &:after {
                display: none;
            }

            &:hover {
                color: #fff;
            }
        }
    }
}

/*END*/