/*START - Testimonials List theming */
ul.collection li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*END - Testimonials List theming*/

/*START - testimonial page icon*/
div.testimonials ul.collection {
    .avatar {
        background-color: #5F8480;
        height: 154px;

        circle {
            fill-opacity: 0;
        }

        path {
            fill: #fff;
            fill-opacity: 1;
        }
    }

    @media only screen and (max-width: 768px) {
        .avatar {
            height: 135px;
        }
    }
}

/*END - testimonial page icon*/

/*START - read more change color*/
.js-read-more {
    &:hover {
        color: #5F8480;

        &:before {
            background: #5F8480;
        }

        &:after {
            background: #5F8480;
        }
    }

    &:before {
        background: rgba(0, 0, 0, 0.1) !important;
        opacity: 1;
    }

    &:after {
        background: #5F8480 !important;
        opacity: 1;
    }
}

/*END*/

/*START - page pagination */
.lp-pagination.pagination-container .paginationjs .paginationjs-pages ul li a:after {
    border-right: 2px solid #5F8480;
    border-top: 2px solid #5F8480;
}

.lp-pagination.pagination-container .paginationjs .paginationjs-pages ul li a:hover::after {
    border-right: 2px solid #5F8480;
    border-top: 2px solid #5F8480;
}

/*END - page pagination*/