/*add padding bottom to see the loading*/
@media only screen and (max-width: 768px) {
    div.home-valuation .content {
        padding-bottom: 124px;
    }
}

div.loader .line {
    background: #001A72;
}

/*End*/

/* Start - Adjust width of the search bar */
.home-valuation .content {
    @media only screen and (min-width: 768px) {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24px !important;
        padding-left: 24px !important;
    }
}

/* End */

/*START - fix button theme on mobile view*/
div.home-valuation {
    .search-wrapper {
        .lp-btn {
            &[disabled] {
                opacity: .3;
            }

            @media (max-width: 768px) {
                background-color: transparent !important;
                color: #fff !important;
                border: 2px solid #fff !important;

                &:hover {
                    border: 2px solid #fff !important;
                    color: #001A72 !important;
                    background-color: #fff !important;
                }
            }
        }
    }
}

/*bg image opacity*/
div.home-valuation .background:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, #000 100%);
}

/*1st page checklist*/
.home-valuation .benefits .benefit {
    text-transform: uppercase;
}

/*button font size*/
.lp-btn,
.redesign .lp-btn {
    font-size: 12px !important;
}

/*enter home address*/
@media (max-width: 768px) {

    input,
    select:focus,
    textarea {
        font-size: 13px !important;
    }
}

/*2nd page title*/
.hv-modal__title {
    font-size: 25px !important;
}

/*2nd page checklist*/
.hv-checklist--small {
    text-transform: uppercase;
}

/*2nd page form label*/
.lp-input-group .lp-label {
    font-weight: 400;
    text-transform: uppercase;
}

/*END*/

/* Start - Fix issue with fullscreen for Home Valuation form */
& {
    transform: unset;
}

/* End */