/*Start - Text grid mobile view fix*/
div.text-grid .scene__item--with-border div.border {
    border: 2px solid #fff;
    opacity: 1;
}

.text-grid ul.scenes li.scene {
    margin: 0 8px;
    flex-basis: 30.5% !important;

    @media only screen and (max-width: 768px) {
        margin: 8px 0;
        flex-basis: unset !important;
    }
}

/*END - Text grid mobile view fix*/

/*Start - Make the titles in two line*/
.lp-h4 {
    font-size: 26px !important;
    text-align: center;
}

/*End*/

/*Start - Hide the button wrapper that causes the large padding*/
.button-wrapper {
    display: none !important;
}

/*End*/

/* START - Fix horizontal dimensions */
.lp-container {
    .scenes {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .scene {
            margin: 0px !important;
        }
    }
}

/* END */