/*Start - Reduce the opening element globally*/
.custom-intro {
    @media only screen and (min-width: 769px) {
        height: calc(100vh - 30vh);
    
        .custom-intro__wrapper {
            height: 100%;
            
            .content-group {
                height: 100%;
                min-height: auto !important;
            }
        }
    }
}

/*End*/

/* Start - Fix inconsitent intro description font size */
div.text-group {
    @media only screen and (min-width: 768px) {
        .text-group__box {
            h1 {
                font-size: 80px;
            }

            .description {
                font-size: 16px;
            }
        }
    }
}

/* End */