/*START - header nav theming */
nav#global-navbar {

    /*START - light scroll background*/
    header.theme-light {
        button.hamburger-component span.hamburger__bars {
            background-color: #BA960C;

            &:after {
                background-color: #BA960C;
            }

            &:before {
                background-color: #BA960C;
            }
        }

        div.search-block div.search-wrapper .search-toggle {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }

        ul.navigation {
            li.navigation__item a.navigation__link {
                color: #fff;

                &:hover {
                    color: #BA960C;
                }

                &:after {
                    background-color: #BA960C;
                }
            }

            div.sub-nav {
                background-color: #fff;

                .sub-nav__link {
                    color: #000;

                    &:hover {
                        color: #BA960C !important;
                    }
                }
            }
        }

        a.phone-link {
            border-color: #fff;
            background: transparent;
            color: #fff;

            &:hover {
                border-color: #fff;
                background: #fff;
                color: #BA960C;
            }
        }
    }

    /*END - dark background*/

    /* START - scroll*/
    header.scroll {
        background-color: #20201F !important;

        .header__container ul.navigation {
            li.navigation__item a.navigation__link {
                color: #fff;

                &:hover {
                    color: #fff;
                }

                &:after {
                    background-color: #BA960C;
                }
            }
        }

        button.hamburger-component span.hamburger__bars {
            background-color: #BA960C;

            &:after {
                background-color: #BA960C;
            }

            &:before {
                background-color: #BA960C;
            }
        }

        div.search-block div.search-wrapper {
            input.search-input {
                color: #20201F;
            }

            .search-results {
                background-color: #fff;
                border-color: #fff;
                color: #000;
            }

            .search-toggle {
                color: #20201F;

                &:hover {
                    color: #20201F;
                }
            }
        }

        a.phone-link {
            border-color: #fff;
            background: transparent;
            color: #fff;

            &:hover {
                border-color: #BA960C;
                background: #BA960C;
                color: #fff;
            }
        }
    }

    /* END - scroll*/
}

/*END - header nav theming*/

/* Start - Prevent header nav from wrapping the navigation links in two lines*/
nav#global-navbar {
    .navigation {
        max-height: 58px;
        overflow: hidden;
    }
}

/* End */