/* Start - Reduce Side Menu Mobile Hover Font Size */
/* Note: Only add if needed */
body>div.sidemenu .nav .lp-h4:hover {
    @media screen and (max-width: 768px) {
        font-size: 39px !important;
    }
}

/* End */

/*START - side nav theming*/
body>div.sidemenu .close {
    border: solid 1px #D2A984 !important;
}

/*END*/

/* START - Theme sidemenu arrows */
#global-sidemenu > div > button {
    background: #A49B8E;
    border-color: #A49B8E;
    
    &:before,
    &:after {
        background: #FFF;
    }
    
    &:hover {
        background: transparent;
    
        &:before,
        &:after {
            background: #A49B8E;
        }
    }
}

#global-sidemenu div.nav__nav-link-container > button {
    transition: 0.25s;
    
    &:hover {
        background: transparent;
        
        &:before {
            background: transparent;
        }
        
        &:after {
            background: #A49B8E;
        }
    }
    
    &:before {
        background: #A49B8E;
        border-color: #A49B8E;
        transition: 0.25s;
    }
    
    &:after {
        background: #FFF;
    }
}

/* END */