/* START - Fix paddings */
.lp-container {
    padding-bottom: 96px;

    @media (max-width: 768px) {
        padding-top: 96px;
        padding-bottom: 64px;
    }
}

/* END */


/* START - Fix theme on mobile */
.neighborhood-intro {
    .text {
        .title h1 {
            @media (max-width: 768px) {
                color: #A49B8E !important;
            }
        }
    }
}

/* END */